<div style="margin-right: 10px;">
    <p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
    </div>
<p-card>
    <p-table #dt1 [value]="customers" dataKey="ID" [rows]="5" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-customers p-datatable-gridlines"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['supplier','prnumber','line','date','approval','item','itemd','qty','uom','location','noteb','notes','manufaktur','currency','cqty','arrival','lines','cprice','dest','last']">
        <ng-template pTemplate="caption">
        <div>
            <div class="p-d-flex">
                <div class="p-col-3">
                    <h4>Supplier Name :</h4>
                </div>
                <div class="p-col-3" [style]="{'margin-left':'-300px','margin-top':'13px'}"> 
                    <p-dropdown [options]="supplier" [(ngModel)]="selectedSupplier" placeholder="Select Supplier" optionLabel="name" [showClear]="true"></p-dropdown>   
                </div>
                <div class="p-d-flex">
                    <div class="p-col-3" [style]="{'margin-left':'-60px'}">
                        <h4 style="width: 90px;">PR Number : </h4>
                    </div>
                    <div class="p-col-2" [style]="{'margin-left':'20px','margin-top':'13px'}">
                <span class="p-input-icon-right p-ml-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search PR Number" />  
                </span>
            </div>
                </div>
            
                <div [style]="{'margin-left':'-40px','margin-top':'9px'}">
                    <h4>Type :</h4>
                </div>
                <div [style]="{'margin-left':'5px','margin-top':'20px'}"> 
                    <p-dropdown [options]="jit" [(ngModel)]="selectedJit" placeholder="Select JIT" optionLabel="name" [showClear]="true"></p-dropdown>   
            </div>
                <div [style]="{'margin-left':'5px','margin-top':'20px'}">
                    <button pButton type="button" label="Search" ></button>
                </div>
                <div [style]="{'margin-left':'5px','margin-top':'20px'}">
                    <button pButton type="button" label="Clear"></button>
                </div>
                <!-- <div>
                    <button pButton type="button" label="Old Form"></button>
                </div> -->
            </div>
        </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="supplier">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Supplier
                        <p-columnFilter type="text" field="supplier" display="menu"></p-columnFilter>
                        <p-sortIcon field="supplier"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="prnumber"> 
                    <div class="p-d-flex p-jc-between p-ai-center">
                        PR Number
                        <p-columnFilter type="text" field="prnumber" display="menu"></p-columnFilter>
                        <p-sortIcon field="prnumber"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="line">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Line
                        <p-columnFilter type="numeric" field="line" display="menu"></p-columnFilter>
                        <p-sortIcon field="line"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="date">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Item Number
                        <p-columnFilter type="date" field="date" display="menu"></p-columnFilter>
                        <p-sortIcon field="date"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="approval">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Item Description
                        <p-columnFilter type="date" field="approval" display="menu"></p-columnFilter>
                    </div>
                    <p-sortIcon field="approval"></p-sortIcon>
                </th>
                <th pSortableColumn="itemd">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Qty
                        <p-columnFilter type="text" field="itemd" display="menu"></p-columnFilter>
                    </div>
                <p-sortIcon field="itemd"></p-sortIcon>
                </th>
                <th style="width: 8rem" pSortableColumn="qty">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        UOM
                        <p-columnFilter type="numeric" field="qty" display="menu"></p-columnFilter>
                    </div>
                <p-sortIcon field="qty"></p-sortIcon>
                </th>
                <th pSortableColumn="uom">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Currency
                        <p-columnFilter type="text" field="uom" display="menu"></p-columnFilter>
                    </div>
                <p-sortIcon field="uom"></p-sortIcon>
                </th>
                <th pSortableColumn="location">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Need By Date
                        <p-columnFilter type="text" field="location" display="menu"></p-columnFilter>
                    </div>
                <p-sortIcon field="location"></p-sortIcon>
                </th>
                <th pSortableColumn="noteb">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Ship to
                        <p-columnFilter type="text" field="noteb" display="menu"></p-columnFilter>
                    </div>
                <p-sortIcon field="noteb"></p-sortIcon>
                </th>
                <th pSortableColumn="notes">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Manufacturer
                        <p-columnFilter type="text" field="notes" display="menu"></p-columnFilter>
                    </div>
                <p-sortIcon field="notes"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td>
                   
                </td>
                <td>
                    {{customer.prnumber}}
                </td>
                <td>
                    {{customer.line}}
                </td>
                <td>
                    {{customer.item}}
                </td>
                <td>
                    {{customer.itemd}}
                </td>
                <td>
                    {{customer.qty}}
                </td>
                <td>
                    {{customer.uom}}
                </td>
                <td>
                    {{customer.currency}}
                </td>
                <td>
                    {{customer.date}}
                </td>
                <td>
                    {{customer.ship}}
                </td>
                <td>
                    {{customer.manufaktur}}
                </td>
            </tr>
        </ng-template>
    </p-table>
    </p-card>