<div class="header" style="margin-left: auto; margin-top: auto; margin-bottom: auto; margin-top: auto;">
    <h4>Notification Detail</h4>
<p-card>
    <div style="margin-left: -50px;">
    <div class="p-grid p-formgrid p-fluid">
        <div class="p-col-1 p-mb-1 p-lg-1 p-mb-lg-0">
            <h4 style="text-align: right;">Module : </h4>
        </div>
        <div class="p-col-1 p-mb-1 p-lg-1 p-mb-lg-0">
            <h4>Planning Order</h4>
        </div>
    </div>
        <div class="p-grid p-formgrid p-fluid">
            <div class="p-col-1 p-mb-1 p-lg-1 p-mb-lg-0">
                <h4 style="text-align: right;">Sender : </h4>
            </div>
            <div class="p-col-1 p-mb-1 p-lg-1 p-mb-lg-0">
                <h4>example@example.com</h4>
            </div>
        </div>
            <div class="p-grid p-formgrid p-fluid">
                <div class="p-col-1 p-mb-1 p-lg-1 p-mb-lg-0">
                    <h4 style="text-align: right;">Date: </h4>
                </div>
                <div class="p-col-1 p-mb-1 p-lg-1 p-mb-lg-0">
                    <h4>29-12-2019 17:12:12</h4>
                </div>
            </div>
            <div class="p-grid p-formgrid p-fluid">
                <div class="p-col-1 p-mb-1 p-lg-1 p-mb-lg-0">
                    <h4 style="text-align: right;">Subject : </h4>
                </div>
                <div class="p-col-1 p-mb-1 p-lg-1 p-mb-lg-0">
                    <h4>Planning Order Code Example</h4>
                </div>
            </div>
            <div class="p-grid p-formgrid p-fluid">
                <div class="p-col-1 p-mb-1 p-lg-1 p-mb-lg-0">
                    <h4 style="text-align: right;">Message :</h4>
                </div>
            </div>
        </div>

<div style="margin-left: -60px;">
<div class="body">
    <div style="margin-left: 62px;">
        Dear Purchasing team,
    </div>
    <div style="margin-left: 62px; margin-top: 20px;margin-bottom: 20px">
        We have confirmed your Planning Order with details as follow :
    </div>
</div>
</div>

<div class="footer">
    <div class="p-grid p-formgrid p-fluid">
        <div class="p-col-1 p-mb-1 p-lg-2 p-mb-lg-0">
            <h4>Planning Order No : </h4>
        </div>
        <div class="p-col-1 p-mb-1 p-lg-1 p-mb-lg-0" style="margin-left: -100px;">
            <h4>PLDX83123</h4>
        </div>
        <div class="p-col-1 p-mb-1 p-lg-1 p-mb-lg-0">
            <h4>Rev :</h4>
        </div>
        <div class="p-col-1 p-mb-1 p-lg-1 p-mb-lg-0" style="margin-left: -40px;">
            <h4>0</h4>
        </div>
    </div>
    
    <div>
    <div class="p-grid p-formgrid p-fluid">
        <div class="p-col-1 p-mb-1 p-lg-2 p-mb-lg-0">
            <h4>Planning Order Date : </h4>
        </div>
        <div class="p-col-1 p-mb-1 p-lg-1 p-mb-lg-0" style="margin-left: -100px;">
            <h4>23-Juli-2021</h4>
        </div>
        <div class="p-col-1 p-mb-1 p-lg-1 p-mb-lg-0">
            <h4>Description :</h4>
        </div>
        <div class="p-col-1 p-mb-1 p-lg-1 p-mb-lg-0">
            <h4></h4>
        </div>
    </div>
    </div>

    <div>
        <div class="p-grid p-formgrid p-fluid">
            <div class="p-col-1 p-mb-1 p-lg-2 p-mb-lg-0">
                <h4>Must Response by Date : </h4>
            </div>
            <div class="p-col-1 p-mb-1 p-lg-1 p-mb-lg-0" style="margin-left: -100px;">
                <h4>23-Juli-2021</h4>
            </div>
            <div class="p-col-1 p-mb-1 p-lg-1 p-mb-lg-0">
                <h4>Respond By :</h4>
            </div>
            <div class="p-col-1 p-mb-1 p-lg-1 p-mb-lg-0" style="margin-left: -40px;">
                <h4>SSN01</h4>
            </div>
        </div>
    </div>

<div>
    <div>
        <p-table [value]="capa" [value]="capa" styleClass="p-datatable-gridlines">
            <ng-template pTemplate="header">
                <tr>
                    <th>Line</th>
                    <th>Item Number</th>
                    <th>Item Description</th>
                    <th>Qty</th>
                    <th>UOM</th>
                    <th>Location</th>
                    <th>Currency</th>
                    <th>Confirm Price</th>
                    <th>Confirm Qty</th>
                    <th>Confirm Arrival at Site</th>
                    <th>Remark</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-capa let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="capa">
                    <td>      
                    {{capa.name}}
                    </td>
                    <td>{{capa.document}}</td>
                    <td>{{capa.subject}}</td>
                    <td>{{capa.name}}</td>
                    <td>{{capa.name}}</td>
                    <td>{{capa.name}}</td>
                    <td>{{capa.subject}}</td>
                    <td>{{capa.document}}</td>
                    <td>{{capa.name}}</td>
                    <td>{{capa.document}}</td>
                    <td>{{capa.subject}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
               
            </ng-template>
            <ng-template pTemplate="paginatorright">
               
            </ng-template>
        </p-table>
</div>
<div style="margin-top: 20px;">
<div class="p-grid p-formgrid p-fluid">
    <div class="p-col-1 p-mb-1 p-lg-2 p-mb-lg-0">
        For detail of this Planning Order, please visit 
    </div>
    <div class="p-col-1 p-mb-1 p-lg-1 p-mb-lg-0" style="margin-left: -315px; margin-top: 4px;">
        <p-button [style]="{'margin-left': '250px','margin-top': '-250px'}" label="here" styleClass="p-button-link"></p-button>
    </div>
</div>
<div style="margin-top: 20px;">
    Regards,
</div>
<div style="margin-top: 20px;">
    Supplier Portal Administrator
</div>
</div>
</div>