<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<p-messages></p-messages>

<div  style="padding-left: 10px;padding-right: 10px;">
    <p-card > 
        <div style="background-color: #0C58D3; color: white;" >
            <div class="p-d-flex" > 
                <div class="p-mr-2 p-mb-2" style="margin-top: 5px; margin-left: 10px; ">   
                    Create Mapping Costumer Outlet Panel
                 </div>
            </div>
        </div>
        <div class="p-d-flex p-jc-right" style="margin-top: 13px;">
            <div class="p-mr-2 p-mb-2">Area - Line</div>
            <div class="p-mr-2 p-mb-2">
                <p-dropdown id="area"  [options]="areaLineList" optionLabel="name" placeholder="- Select -" 
                    [(ngModel)]="areaLineSelected" style="padding-left: 10px;padding-right: 10px;" 
                    styleClass="my-dropdown">
                </p-dropdown> 
            </div>
        </div>

        <div class="p-d-flex p-jc-right" style="margin-top: 13px;">
            <div class="p-mr-2 p-mb-2">Channel </div>
            <div class="p-mr-2 p-mb-2" style="margin-left: 16px; min-width: 200px;">
                <p-dropdown id="channel"  [options]="chanelList" optionLabel="name" placeholder="- Select -" 
                    [(ngModel)]="channelselected" style="padding-left: 10px;padding-right: 10px;" 
                    styleClass="my-dropdown">
                </p-dropdown>
            </div>
        </div>

        <div class="p-d-flex p-jc-right" style="margin-top: 13px;">
            <div class="p-mr-2 p-mb-2">Periode </div>
            <div class="p-mr-2 p-mb-2" style="margin-left: 26px; min-width: 200px;">
                <p-calendar [(ngModel)]="startdate" [showIcon]="true"></p-calendar> <span style="margin-left:35px"></span>
            </div>
            <div class="p-mr-2 p-mb-2" >
                <p-calendar [(ngModel)]="endingdate" [showIcon]="true"></p-calendar> <span style="margin-left:35px"></span>
            </div>
        </div>

        <div class="p-d-flex p-jc-right" style="margin-top: 13px;">
            <div class="p-mr-2 p-mb-2">Costumer </div>
            <div class="p-mr-2 p-mb-2" style="margin-left: 16px;">
                <p-button (onClick)="openDialog()" icon="pi pi-search" (click)="openDialog()"></p-button>
            </div>
        </div>

        <div>
            <div style="margin-left: 255px;">
                <button pButton pRipple type="button" label="Add Data" class="p-button-primary p-mr-2 p-mb-2"></button>
                <button pButton pRipple type="button" (click)="btnSaveData()" label="Save Data" class="p-button-success p-mr-2 p-mb-2"></button>
                <button pButton pRipple type="button" (click)="btnDeleteData()" label="Delete Data" class="p-button-secondary p-mr-2 p-mb-2"></button>
            </div>
        </div>
    </p-card>

    <div style="margin-top: 20px;">
        <p-table styleClass="p-datatable-gridlines" [value]="customerOutletList" [paginator]="true" [rows]="5" [lazy]="true"
        [selection]="selectedCustomersOutlet" (selectionChange)="onSelectionChangeOutlet($event)" (selectAllChange)="onSelectAllChangeOutlet($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th>Outlet Id</th>
                    <th>Outlet Name</th>
                    <th>Channel</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customerOutletList>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="customerOutletList"></p-tableCheckbox>
                    </td>
                    <td>{{customerOutletList.outletId}}</td>
                    <td>{{customerOutletList.outletName}}</td>
                    <td>{{customerOutletList.channel}}</td>
                    <td>{{customerOutletList.startDate}}</td>
                    <td>{{customerOutletList.endDate}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <p-dialog [(visible)]="dialogCustomer" [style]="{width: '1000px'}"[modal]="true" styleClass="p-fluid">
        <p-card > 
            <div style="background-color: #8C929B; color: white;" >
                <div class="p-d-flex" > 
                    <div class="p-mr-2 p-mb-2" style="margin-top: 5px; margin-left: 10px; ">   
                        Customer List
                     </div>
                </div>
            </div>
            <div class="p-d-flex p-jc-right" style="margin-top: 13px;">
                <div class="p-mr-2 p-mb-2">Company </div>
                <div class="p-mr-2 p-mb-2" style="margin-left: 100px; ">
                    <label >PT. DEXA MEDICA</label>
                </div>
            </div>
            <div class="p-d-flex p-jc-right" style="margin-top: 13px;">
                <div class="p-mr-2 p-mb-2">Customer Area </div>
                <div class="p-mr-2 p-mb-2" style="margin-left: 67px; ">
                    <label >{{areaLineSelected.name}}</label>
                </div>
            </div>
            <div class="p-d-flex p-jc-right" style="margin-top: 13px;">
                <div class="p-mr-2 p-mb-2">Customer Name </div>
                <div class="p-mr-4 p-mb-4" style="margin-left: 60px; ">
                    <input  [(ngModel)]="inputCustomerNameModal" type="text"
                    pInputText required>
                </div>
                <div class="p-mr-2 p-mb-2">
                    <button pButton pRipple type="button" (click)="btnSearchModal()" label="Search" class="p-button-success p-mr-2 p-mb-2"></button>
                    
                </div>
                <div class="p-mr-2 p-mb-2">
                    <button pButton pRipple type="button"  (click)="btnAddDataModal()"label="Add Data" class="p-button-primary p-mr-2 p-mb-2"></button>
                </div>

            </div>
            <div style="margin-top: 20px;">
                <p-table styleClass="p-datatable-gridlines" [value]="customerList" [paginator]="true" [rows]="5" [lazy]="true"
                [selection]="selectedCustomers" (selectionChange)="onSelectionChange($event)" (selectAllChange)="onSelectAllChange($event)"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th>Outlet Id</th>
                            <th>Outlet Name</th>
                            <th>Address</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-customerList>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="customerList"></p-tableCheckbox>
                            </td>
                            <td>{{customerList.outletId}}</td>
                            <td>{{customerList.outletName}}</td>
                            <td>{{customerList.outletAddress}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-card>
    </p-dialog>

    <p-dialog header="Delete Customer Outlet" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000" [draggable]="false"
        [resizable]="false">
        <p style="font-size: 18;">Are you sure want to delete this Customer Outlet ?</p>
        <ng-template pTemplate="footer">
            <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
            <p-button (click)="deleteProcess()" label="Yes" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>
</div>
