<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<div>
    <p-card>
        <div>
            <h4>Company</h4>
        </div>
        <div>
            <p-dropdown [options]="company" [(ngModel)]="selectedCompany" optionLabel="name" placeholder="Select Company"></p-dropdown>
        </div>
        <div class="p-grid">
        <div class="p-col">
        <div class="p-d-flex p-flex-column">
            <div class="p-mr-2"><h4>Invoice No</h4></div>
            <div class="p-mr-2"><input id="invoiceno" type="text" pInputText style="width: 510px;"></div>
            <div class="p-mr-2"><h4>Invoice Date</h4></div>
            <div class="p-mr-2"><input id="date" type="date" style="width: 510px; text-align: center;"pInputText ></div>
            <div class="p-mr-2"><h4>Description</h4></div>
            <div class="p-mr-2"><textarea id="description" type="text" rows="6" cols="60" pInputTextarea></textarea></div>
            <div class="p-mr-2"><button pButton pRipple type="button" label="Search Pending PO" class="p-button-success" style="margin-top: 30px;width: 510px;" (click)="editDialog"></button></div>
        </div>
        </div>
        <div class="p-col">
        <div class="p-d-flex p-flex-column">
            <div class="p-mr-2"><h4>Tax Invoice No</h4></div>
            <div class="p-mr-2"><input id="taxinvoiceno" type="text" pInputText style="width: 510px;"></div>
            <div class="p-mr-2"><h4>Tax Invoice Date</h4></div>
            <div class="p-mr-2"><input id="date" type="date" style="width: 510px; text-align: center;"pInputText></div>
            <div class="p-mr-2"><h4>Status</h4></div>
            <div class="p-mr-2"><div class="p-mr-2"><input id="status" type="text" pInputText style="width: 510px;"></div></div>
            <div class="p-mr-2"><h4>Attachment</h4></div>
            <div class="p-mr-2"><input type="file" (change)="handleChange($event)" multiple style="width: 510px;"></div>
            <div class="p-mr-2"><h4>Bank</h4></div>
            <div class="p-mr-2"><p-dropdown [options]="bank" [(ngModel)]="selectedBank" optionLabel="name" placeholder="Select Bank" [style]="{'width': '510px'}"></p-dropdown></div>
        </div>
        </div>
        <div class="p-col">
        <div class="p-d-flex p-flex-column">
            <div class="p-mr-2"><p-checkbox [(ngModel)]="pencet" binary="true" inputId="binary"></p-checkbox>
            <label for="binary">Include PPh</label></div>
            <div class="p-d-flex">
            <div class="p-mr-2"><h4>PPh Value</h4></div>
            <div class="p-mr-2" style="margin-top: 12px;"><input id="disabled" style="width: 200px;" type="text" pInputText [disabled]="!pencet" /></div>
            </div>
            <div class="p-d-flex p-flex-column">
            <div class="p-mr-2"><h4>Total DPP</h4></div>
            <div class="p-mr-2"><h4>Total PPn</h4></div>
            <div class="p-mr-2"><h4>Total PPh</h4></div>
            <div class="p-mr-2"><h4>Total Invoice</h4></div>
            </div>
        </div>
        </div>
        </div>
        <div style="margin-top: 20px;">
            <p-table styleClass="p-datatable-gridlines" [value]="capa">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th>No</th>
                    <th>PO Number</th>
                    <th>PO Line</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Amount</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-capa>
                <!-- <tr>
                    <td>
                        <p-tableCheckbox [value]="capa"></p-tableCheckbox>
                    </td>
                    <td>{{capa.name}}</td>
                    <td>{{capa.document}}</td>
                    <td>{{capa.date}}</td>
                    <td>{{capa.subject}}</td>
                    <td>{{capa.responsedate}}</td>
                    <td>{{capa.response}}</td>
                    <td>{{capa.status}}</td>
                </tr> -->
            </ng-template>
        </p-table>
        </div>
        <div style="margin-top: 30px;">
            <div class="p-grid">
                <div class="p-col"><button pButton pRipple type="button" label="Save" class="p-button-success" style="width: 300px;"></button></div>
                <div class="p-col"><button pButton pRipple type="button" label="Add to Batch" class="p-button-secondary" style="width: 300px;"></button></div>
                <div class="p-col"><button pButton pRipple type="button" label="Print Goods Receipt Note" style="width: 300px;"></button></div>
                <div class="p-col"><button pButton pRipple type="button" label="Cancel" class="p-button-warning" style="width: 300px;"></button></div>
            </div>
        </div>
    </p-card>
</div>

<div>
    <p-dialog [(visible)]="dialog" [style]="{width: '450px'}" header="Finding PO" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="p-field">
                <label for="name">Name</label>
                <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus />
            </div>
            <div class="p-field">
                <label for="description">Description</label>
                <textarea id="description" pInputTextarea [(ngModel)]="product.description" required rows="3" cols="20"></textarea>
            </div>
            <div class="p-field">
                <label for="inventoryStatus">Inventory Status</label>
            </div>
            </ng-template>
            </p-dialog>
</div>