<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>

<div class="body">
    <p-card class="header">
    </p-card>
    <p-card class="body1">
    <div class="card">
        <div style="margin-bottom: 20px;">
        <span class="p-input-icon-right p-ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search Invoice" />
        </span>
        </div>
        <p-table #dt1 styleClass="p-datatable-gridlines" [value]="capa" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,15,20,25]">
            <ng-template pTemplate="header" [globalFilterFields]="['name','status']" >
                <tr>
                    <th pSortableColumn="name">Invoice No <p-columnFilter type="text" field="name" display="menu"></p-columnFilter><p-sortIcon field="name"></p-sortIcon></th>
                    <th>Batch No</th>
                    <th>Invoice Amount</th>
                    <th>Invoice Date</th>
                    <th>Payment Method</th>
                    <th>Service Amount</th>
                    <th>Line Status
                        <p-columnFilter field="lines" matchMode="equals" display="menu">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)"
                                    placeholder="Line Status">
                                    <ng-template let-option pTemplate="item">
                                        <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>Tax No</th>
                    <th>Tax Amount</th>
                    <th>Tax Date</th>
                    <th>Total Amount</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-capa>
                <tr>
                    <td>{{capa.name}}</td>
                    <td>{{capa.document}}</td>
                    <td>{{capa.date}}</td>
                    <td>{{capa.subject}}</td>
                    <td>{{capa.responsedate}}</td>
                    <td>{{capa.response}}</td>
                    <td>{{capa.status}}</td>
                    <td>Dummy</td>
                    <td>Dummy</td>
                    <td>Dummy</td>
                    <td>Dummy</td>
                    <td><button pButton type="button" class="p-button-secondary" icon="pi pi-pencil"></button></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
               
            </ng-template>
            <ng-template pTemplate="paginatorright">
               
            </ng-template>
        </p-table>
    </div>
    </p-card>
    </div>