<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>

<div style="margin-right: 10px; margin-left: 10px;">
<p-card [style]="{'color': 'white', 'background-color': '#327fc7'}">
    <h4>Change Password</h4>
</p-card>
</div>

<div style="margin-left: 10px; margin-right: 10px;">
<p-card>
    <div class="p-field p-grid">
        <label for="Username" class="p-col-fixed" style="width:150px">Username</label>
        <div class="p-col">
            <h4>ADMIN</h4> 
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="old password" class="p-col-fixed" style="width:150px">Old Password</label>
        <div class="p-col">
            <input id="password" type="password" pInputText  [(ngModel)]="value" style="width:250px"> 
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="newpassword" class="p-col-fixed" style="width:150px">New Password</label>
        <div class="p-col">
            <input id="newpassword" type="password" pInputText style="width:250px"> 
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="cnewpassword" class="p-col-fixed" style="width:150px">Confirm New Password</label>
        <div class="p-col">
            <input id="cnewpassword" type="password" pInputText style="width:250px"> 
        </div>
    </div>
    <div>
        <div style="margin-left: 255px;">
            <button pButton pRipple type="button" label="Cancel" class="p-mr-2 p-mb-2"></button>
            <button pButton pRipple type="button" label="Save" class="p-mb-2"></button>
    </div>
    </div>
</p-card>
</div>


