<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>

<div class="body">
    <p-card class="header">
    </p-card>
    <p-card class="body1">
    <div class="card">
        <p-table styleClass="p-datatable-gridlines" [value]="capa" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,15,20,25]">
            <ng-template pTemplate="header" [globalFilterFields]="['name']" >
                <tr>
                    
                    <th pSortableColumn="name">Supplier <p-columnFilter type="text" field="name" display="menu"></p-columnFilter><p-sortIcon field="name"></p-sortIcon></th>
                    <th>PO Number</th>
                    <th>Line</th>
                    <th>Item Number</th>
                    <th>Item Description</th>
                    <th>UOM</th>
                    <th>Qty Order</th>
                    <th>Qty Open</th>
                    <th>Arrival at Site</th>
                    <th>Est. Arrival at Site</th>
                    <th>Reason for not on time</th>
                    <th>L/O/E</th>
                    <th>Last Confirm Time</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-capa>
                <tr>
                    <td>{{capa.name}}</td>
                    <td>{{capa.document}}</td>
                    <td>{{capa.date}}</td>
                    <td>{{capa.subject}}</td>
                    <td>{{capa.responsedate}}</td>
                    <td>{{capa.response}}</td>
                    <td>{{capa.status}}</td>
                    <td>{{capa.name}}</td>
                    <td>{{capa.document}}</td>
                    <td>{{capa.date}}</td>
                    <td>oye</td>
                    <td>wow</td>
                    <td>loll</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
               
            </ng-template>
            <ng-template pTemplate="paginatorright">
               
            </ng-template>
        </p-table>
    </div>
    </p-card>
    </div>