<div style="height: 20px;"></div>
<div class="wrapper">
    <div class="p-grid">
        <div class="p-col-12 p-mb-10">
            <p-tabMenu [model]="items" [activeItem]="activeItem" (onChange)="onChange($event)"></p-tabMenu>
            <router-outlet ></router-outlet>
        </div>
    </div>

</div>
