<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<p-progressSpinner *ngIf="itemjitlist.length == 0" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages>


<div *ngIf="itemjitlist.length > 0" style="padding-left: 10px;padding-right: 10px;">
    <p-card [style]="{'width': 'auto', 'height': '60px', 'margin-top': '1em', 'margin-bottom': '1em'}">

        <div class="p-grid" [style]="{'margin-top': '-28px'}">

            <div class="p-col-3" >
                <div class="box" style="padding-top: 16px;">
                    <span class="p-input-icon-right" >
                        <i class="pi pi-search"></i>
                        <input #myInput pInputText type="text" (input)="dt.filterGlobal(myInput.value, 'contains')"
                            placeholder="Search keyword" />
                    </span>
                </div>
            </div>

            <div class="p-col-2" [style]="{'margin-left': '-130px'}">
                <div class="box">
                    <h4>Type <p-dropdown id="supplier"  [options]="typevalue" optionLabel="name"
                        placeholder="- Select -" [(ngModel)]="supplierselected" 
                        >
                        </p-dropdown>
                    </h4>
                </div>
            </div>

            <div class="p-col-3" [style]="{'margin-left': '-70px'}">
                <div class="box" [style]="{'margin-top': '17px'}">
                    <p-splitButton style="padding-right: 10px;" label="ACTIONS"  (onClick)="save('info')" [model]="items"></p-splitButton>

                </div>
            </div>

        </div>
    </p-card>
    
    
    <app-tablehelper [records]="itemjitlist" [header]="itemjitheader" [wsearch]=true [actionbtn]="itemjitactionbtn"
        [colnames]="itemjitcolname" [colwidth]="itemjitcolwidth" [colclasshalign]="itemjitcolhalign"
        [colmark]=2 (datadeleted)="deleteConfirmation($event)" (datapreview)="viewData($event)" [scrollheight]="scrollheight" [nopaging]=true [items]="items" 
        [onlytable]=true [withoutcaption]=true></app-tablehelper>
</div>

<p-toast [style]="{marginTop: '80px'}"></p-toast>


<!-- (datadeleted)="deleteConfirmation($event)" -->