<p-breadcrumb [model]="breadcrumbs" [home]="home"></p-breadcrumb>

<div class="wrapperinside">
    <p-messages></p-messages>
    <form (ngSubmit)="onSubmit()" [formGroup]="groupForm" *ngIf="this.groupForm" style="padding: 2px;">
        <div style="height: 20px;"></div>
        <p-card class="p-my-2">
            <div class=" p-fluid">
                <div class="p-grid">
                    <div class="p-col">
                        <div class="box">
                            <label for="itemnumber" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Item Number
                                :</label>
                            <input class="p-mt-2" name="itemnumber" formControlName="itemnumber" id="itemnumber" type="text"
                                pInputText required>
                            <div class="p-field" *ngIf="submitted && f.itemnumber.errors">
                                <span style="color: red;" *ngIf="f.itemnumber.errors.required">Item Number required</span>
                            </div>
                        </div><div style="height: 15px;"></div>
                        <div class="box">
                            <label for="description" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Description
                                :</label>
                            <input class="p-mt-2" name="description" formControlName="description" id="description" type="text"
                                pInputText required>
                            <div class="p-field" *ngIf="submitted && f.description.errors">
                                <span style="color: red;" *ngIf="f.description.errors.required">Description is
                                    required</span>
                            </div>
                        </div><div style="height: 15px;"></div>
                        <div class="box">
                            <label for="color" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Color
                                :</label>
                            <input class="p-mt-2" name="color" formControlName="color" id="color" type="text"
                                pInputText required>
                            <div class="p-field" *ngIf="submitted && f.color.errors">
                                <span style="color: red;" *ngIf="f.color.errors.required">Color is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <div class="box">
                            <label for="size" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Size :</label>
                            <input class="p-mt-2" name="size" formControlName="size" id="size" type="text"
                                pInputText required>
                            <div class="p-field" *ngIf="submitted && f.size.errors">
                                <span style="color: red;" *ngIf="f.size.errors.required">Supplier Name is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <div class="box">
                            <label for="remark_design" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Remark Design :</label>
                            <input class="p-mt-2" name="remark_design" formControlName="remark_design" id="remark_design" type="text"
                                pInputText required>
                            <div class="p-field" *ngIf="submitted && f.remark_design.errors">
                                <span style="color: red;" *ngIf="f.remark_design.errors.required">Pack Size is
                                    required</span>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </p-card>
        <div class="p-field p-col p-mt-5">
            <div class="p-formgrid p-grid" style="text-align: right;">
                <div class="p-field p-col">
                    <button pButton pRipple type="submit" label="Save" class="p-button-success" icon="pi pi-angle-right"
                        iconPos="right"></button>
                </div>
            </div>
        </div>
    </form>
</div>