<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>

<div>
    <p-card>
        <div style="margin-bottom: 10px;">
        <span class="p-input-icon-right">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search Planning Order" />
        </span>
    </div>
 <div class="card">
        <p-table #dt [value]="customers" sortField="representative.name" sortMode="single" (onSort)="onSort()" dataKey="representative.name" [globalFilterFields]="['representative.name','line','item','itemd','uom','location','currency','cprice','cqty','cas','pr','po','lines']">
            <ng-template pTemplate="header">
                <tr>
                    <th>Line</th>
                    <th>Item Number</th>
                    <th>Item Description</th>                    
                    <th>UOM</th>
                    <th>Location</th>
                    <th>Currency</th>
                    <th>Confirm Price</th>
                    <th>Confirm Qty</th>
                    <th>Confirm Arrival at Site</th>
                    <th>PR Number</th>
                    <th>PO Number</th>
                    <th>Line Status
                        <p-columnFilter field="lines" matchMode="equals" display="menu">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)"
                                    placeholder="Line Status">
                                    <ng-template let-option pTemplate="item">
                                        <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>Update</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex" let-expanded="expanded">
                <tr *ngIf="rowGroupMetadata[customer.representative.name].index === rowIndex">
                    <td colspan="13">
                        <button type="button" pButton pRipple [pRowToggler]="customer" class="p-button-text p-button-rounded p-button-plain p-mr-2" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        <span class="p-text-bold p-ml-2">{{customer.representative.name}}</span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-customer>
                <tr>
                    <td>
                        {{customer.line}}
                    </td>
                    <td>
                        {{customer.item}}
                    </td>
                    <td>
                       {{customer.itemd}}
                    </td>
                    <td>
                        {{customer.uom}}
                    </td>
                    <td>
                        {{customer.location}}
                    </td>
                    <td>
                        {{customer.currency}}
                    </td>
                    <td>
                        {{customer.cprice}}
                    </td>
                    <td>
                        {{customer.cqty}}
                    </td>
                    <td>
                        {{customer.cas}}
                    </td>
                    <td>
                        {{customer.pr}}
                    </td>
                    <td>
                        {{customer.po}}
                    </td>
                    <td>
                        <span [class]="'order-badge order-' + customer.lines"></span>{{customer.lines}}
                    </td>
                    <td>
                        <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-card>
</div>
    