<p-card>
    <div class="box">
        <p-dropdown [options]="company" [(ngModel)]="selectedCity1" placeholder="Company" optionLabel="name" [showClear]="true" style="padding-right: 10px;" styleClass="long-size"></p-dropdown>
        <p-calendar placeholder ="From Date" [(ngModel)]="fromDate" style="padding-left: 10px;padding-right: 10px;" ></p-calendar>
        <p-calendar placeholder ="To Date" [(ngModel)]="toDate" style="padding-left: 10px;padding-right: 10px;" ></p-calendar>
    </div>
    <div class="box" style="padding-top: 5px;">
        <p-button label="Search" [loading]="loading[0]" (onClick)="search(0)" styleClass="my-dropdown" style="padding-right: 10px;"></p-button>
        <p-button label="Export XLS" [loading]="loading[1]" (onClick)="load(1)" styleClass="greenButton" style="padding-right: 10px;"></p-button>
    </div>
</p-card>
