<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<p-card>
<div style="margin-bottom: 30px;">
        <div class="p-grid p-formgrid p-fluid">
            <div class="p-col-1 p-mb-1 p-lg-1 p-mb-lg-0">
                <h4>Supplier Name :</h4>
            </div>
            <div [style]="{'margin-top': '10px', 'margin-left': '-20px'}">
                <p-dropdown [options]="supplier" [(ngModel)]="selectedSupplier" placeholder="Select Supplier" optionLabel="name" [showClear]="true"></p-dropdown>   
            </div>
            <div [style]="{'margin-top': '10px', 'margin-left': '20px'}">    
                <button pButton type="button" label="Search"> </button>
            </div>
        </div>
</div>
<div>
        <div style="margin-left: -10px;margin-top: -20px;margin-right: -5px; color: black; background-color: #82e6fa;">
            <h4 style="margin-left: 10px;">General information</h4>
        </div>
        <div class="p-grid p-formgrid p-fluid">
            <div class="p-col-1 p-mb-1 p-lg-1 p-mb-lg-0">
                <h4>Supplier Name :</h4>
            </div>
            <div>
                <input [style]="{'margin-top': '10px', 'margin-left': '-20px'}" type="text" pInputText>
            </div>
            <div class="p-col-1 p-mb-1 p-lg-1 p-mb-lg-0">
                <h4>VAT Number :</h4>
            </div>
            <div>
                <input [style]="{'margin-top': '10px', 'margin-left': '-20px'}" type="text" pInputText>
            </div>
        </div>
</div>
<div>
    <div style="margin-left: -10px;margin-top: 20px;margin-right: -5px; color: black; background-color: #82e6fa;">
        <h4 style="margin-left: 10px;">Address Information</h4>
    </div>
    <div>
        no data found
    </div>
</div>
<div>
    <div style="margin-left: -10px;margin-top: 20px;margin-right: -5px; color: black; background-color: #82e6fa;">
        <h4 style="margin-left: 10px;">Communication Information</h4>
    </div>
    <div>
        no data found
    </div>
</div>
<div>
    <div style="margin-left: -10px;margin-top: 20px;margin-right: -5px; color: black; background-color: #82e6fa;">
        <h4 style="margin-left: 10px;">Legal Information</h4>
    </div>
    <div>
        no data found
    </div>
</div>
</p-card>