<!-- Card dengan teks Top 10 Latest Invoices"-->
<p-card header="Top 10 Latest Invoices"
  [style]="{'color': 'white', 'background-color': 'blue', 'width': 'auto', 'height': '50px', 'margin-top': '2em', 'margin-bottom': '0.5em'}">
</p-card>

<!-- Tabel Dummy -->
<!-- <app-tablehelper [records]="openpolist" [header]="openpoheader" [wsearch]=true [actionbtn]="listactionbtn"
    [colnames]="openpocolname" [colwidth]="openpocolwidth" [colclasshalign]="openpocolhalign" [colmark]=2
    [scrollheight]="scrollheight" [nopaging]=true [actionbtnstatus]=false>
  </app-tablehelper> -->

<p-table #dt [value]="customers" [(selection)]="selectedCustomers" dataKey="id" styleClass="p-datatable-customers"
  [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,20]" [loading]="loading"
  [paginator]="false" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
  [globalFilterFields]="['inv_number','inv_date','inv_amount','inv_tax_number','inv_tax_date','inv_tax_amount','inv_total_amount','inv_status']">

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="inv_number">Invoice Number <p-sortIcon field="inv_number"></p-sortIcon>
      </th>
      <th pSortableColumn="inv_date">Invoice Date <p-sortIcon field="inv_date"></p-sortIcon>
      </th>
      <th pSortableColumn="inv_amount">Invoice Amount <p-sortIcon field="inv_amount"></p-sortIcon>
      </th>
      <th pSortableColumn="inv_tax_number">Tax Number <p-sortIcon field="inv_tax_number"></p-sortIcon>
      </th>
      <th pSortableColumn="inv_tax_date">Tax Date <p-sortIcon field="inv_tax_date"></p-sortIcon>
      </th>
      <th pSortableColumn="inv_tax_amount">Tax Amount <p-sortIcon field="inv_tax_amount"></p-sortIcon>
      </th>
      <th pSortableColumn="inv_total_amount">Total Amount <p-sortIcon field="inv_total_amount"></p-sortIcon>
      </th>
      <th pSortableColumn="inv_status">Status <p-sortIcon field="inv_status"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-customer>
    <tr class="p-selectable-row">
      <td>
        {{customer.inv_number}}
      </td>
      <td>
        {{customer.inv_date}}
      </td>
      <td>
        {{customer.inv_amount}}
      </td>
      <td>
        {{customer.inv_tax_number}}
      </td>
      <td>
        {{customer.inv_tax_date}}
      </td>
      <td>
        {{customer.inv_tax_amount}}
      </td>
      <td>
        {{customer.inv_total_amount}}
      </td>
      <td>
        {{customer.inv_status}}
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8">No customers found.</td>
    </tr>
  </ng-template>

</p-table>

<!-- Card dengan teks "Top 10 Open Receipts"-->
<p-card header="Top 10 Open Receipts"
  [style]="{'color': 'white', 'background-color': 'blue', 'width': 'auto', 'height': '50px', 'margin-top': '2em', 'margin-bottom': '0.5em'}">
</p-card>

<p-table #dt [value]="receipts" [(selection)]="selectedReceipts" dataKey="id" styleClass="p-datatable-customers"
  [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,20]" [loading]="loading"
  [paginator]="false" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
  [globalFilterFields]="['oprec_po_no','oprec_line_no','oprec_item_no','oprec_desc','oprec_date','oprec_qty_po','oprec_qty_rcv','oprec_total','oprec_receipt_no','oprec_trx_date']">

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="oprec_po_no">PO No. <p-sortIcon field="oprec_po_no"></p-sortIcon>
      </th>
      <th pSortableColumn="oprec_line_no">Line No. <p-sortIcon field="oprec_line_no"></p-sortIcon>
      </th>
      <th pSortableColumn="oprec_item_no">Item No. <p-sortIcon field="oprec_item_no"></p-sortIcon>
      </th>
      <th pSortableColumn="oprec_desc">Item Description <p-sortIcon field="oprec_desc"></p-sortIcon>
      </th>
      <th pSortableColumn="oprec_qty_po">Qty PO <p-sortIcon field="oprec_qty_po"></p-sortIcon>
      </th>
      <th pSortableColumn="oprec_qty_rcv">Qty Rcv <p-sortIcon field="oprec_qty_rcv"></p-sortIcon>
      </th>
      <th pSortableColumn="oprec_total">Total<p-sortIcon field="oprec_total"></p-sortIcon>
      </th>
      <th pSortableColumn="oprec_receipt_no">Receipt No.<p-sortIcon field="oprec_receipt_no"></p-sortIcon>
      </th>
      <th pSortableColumn="oprec_trx_date">Trx Date <p-sortIcon field="oprec_trx_date"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-customer>
    <tr class="p-selectable-row">
      <td>
        {{customer.oprec_po_no}}
      </td>
      <td>
        {{customer.oprec_line_no}}
      </td>
      <td>
        {{customer.oprec_item_no}}
      </td>
      <td>
        {{customer.oprec_desc}}
      </td>
      <td>
        {{customer.oprec_qty_po}}
      </td>
      <td>
        {{customer.oprec_qty_rcv}}
      </td>
      <td>
        {{customer.oprec_total}}
      </td>
      <td>
        {{customer.oprec_receipt_no}}
      </td>
      <td>
        {{customer.oprec_trx_date}}
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8">No customers found.</td>
    </tr>
  </ng-template>

</p-table>
