<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<div style="margin-right: 10px;">
<p-card>
    <div class="p-grid p-formgrid p-fluid">
        <div class="p-col-1 p-mb-1 p-lg-1 p-mb-lg-0">
            <h4>Supplier Name :</h4>
        </div>
        <div [style]="{'margin-top': '10px', 'margin-left': '-20px'}">
            <p-dropdown [options]="supplier" [(ngModel)]="selectedSupplier" placeholder="Select Supplier" optionLabel="name" [showClear]="true"></p-dropdown>   
        </div>
        <div class="p-col-1 p-mb-1 p-lg-1 p-mb-lg-0">
            <h4>Year :</h4>
        </div>
        <div [style]="{'margin-top': '10px', 'margin-left': '-90px'}">    
            <p-dropdown [options]="tahun" [(ngModel)]="selectedTahun" placeholder="Select Year" optionLabel="nomor" [showClear]="true"></p-dropdown>
        </div>
        <div [style]="{'margin-top': '10px', 'margin-left': '15px'}">
            <button (click)="tooglePencet()" pButton type="button" label="View"></button>
        </div>
        <div *ngIf="pencet" [style]="{'margin-top': '10px', 'margin-left': '15px'}">
            <button pButton type="button" label="Print Page"></button>
        </div>
        <div *ngIf="pencet" [style]="{'margin-top': '10px', 'margin-left': '15px'}">
            <button pButton type="button" label="SPE Report by Frequency"></button>
        </div>
    </div>
</p-card>
</div>
<div *ngIf="pencet">
    <p-card>
        <div>
        Disini gambar gede gitu nggak tau apa
        </div>
        <div>
        bingung ngejelasinnya jadi ditulis aja panjang
        </div>
    </p-card>
</div>