<p-card [style]="{'width': '2200px', 'overflow-x' : 'scroll'}">
    <p-table #dt1 [value]="customers" dataKey="ID" [rows]="5" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-customers p-datatable-gridlines"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['supplier','prnumber','line','date','approval','item','itemd','qty','uom','location','noteb','notes','manufaktur','currency','cqty','arrival','lines','cprice','dest','last']">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <span class="p-input-icon-right p-ml-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />  
                </span>
                <div class="p-col-3" [style]="{'margin-left': '40px', 'margin-top': '-6px'}"> 
                    <p-splitButton label="Default" (onClick)="save('info')" [model]="itemss"></p-splitButton>
                    </div>
                    <div class="p-col-2" [style]="{'margin-left': '-380px', 'margin-top': '-5px'}"> 
                    <p-splitButton label="Public" (onClick)="save('info')" [model]="itemsa"></p-splitButton>
                </div>
                <div class="p-col-3" [style]="{'margin-left': '800px', 'margin-top': '-4px'}">
                    <!-- <button type="button" pButton pRipple icon="pi pi-file-o" (click)="dt.exportCSV()" class="p-mr-2" pTooltip="CSV" tooltipPosition="bottom"></button> -->
                    <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="supplier">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Supplier
                        <p-columnFilter type="text" field="supplier" display="menu"></p-columnFilter>
                        <p-sortIcon field="supplier"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="prnumber"> 
                    <div class="p-d-flex p-jc-between p-ai-center">
                        PR Number
                        <p-columnFilter type="text" field="prnumber" display="menu"></p-columnFilter>
                        <p-sortIcon field="prnumber"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="line">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Line
                        <p-columnFilter type="numeric" field="line" display="menu"></p-columnFilter>
                        <p-sortIcon field="line"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="date">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Need By Date
                        <p-columnFilter type="date" field="date" display="menu"></p-columnFilter>
                        <p-sortIcon field="date"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="approval">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Approval Date
                        <p-columnFilter type="date" field="approval" display="menu"></p-columnFilter>
                    </div>
                    <p-sortIcon field="approval"></p-sortIcon>
                </th>
                <th pSortableColumn="item">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Item Number
                        <p-columnFilter type="text" field="item" display="menu"></p-columnFilter>
                    </div>
                    <p-sortIcon field="item"></p-sortIcon>
                </th>
                <th pSortableColumn="itemd">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Item Description
                        <p-columnFilter type="text" field="itemd" display="menu"></p-columnFilter>
                    </div>
                <p-sortIcon field="itemd"></p-sortIcon>
                </th>
                <th style="width: 8rem" pSortableColumn="qty">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Qty
                        <p-columnFilter type="numeric" field="qty" display="menu"></p-columnFilter>
                    </div>
                <p-sortIcon field="qty"></p-sortIcon>
                </th>
                <th pSortableColumn="uom">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        UOM
                        <p-columnFilter type="text" field="uom" display="menu"></p-columnFilter>
                    </div>
                <p-sortIcon field="uom"></p-sortIcon>
                </th>
                <th pSortableColumn="location">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Location
                        <p-columnFilter type="text" field="location" display="menu"></p-columnFilter>
                    </div>
                <p-sortIcon field="location"></p-sortIcon>
                </th>
                <th pSortableColumn="noteb">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Note to Buyer
                        <p-columnFilter type="text" field="noteb" display="menu"></p-columnFilter>
                    </div>
                <p-sortIcon field="noteb"></p-sortIcon>
                </th>
                <th pSortableColumn="notes">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Note to Supplier
                        <p-columnFilter type="text" field="notes" display="menu"></p-columnFilter>
                    </div>
                <p-sortIcon field="notes"></p-sortIcon>
                </th>
                <th pSortableColumn="manufaktur">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Manufacturer
                        <p-columnFilter type="text" field="manufaktur" display="menu"></p-columnFilter>
                    </div>
                <p-sortIcon field="manufaktur"></p-sortIcon>
                </th>
                <th pSortableColumn="currency">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Currency
                        <p-columnFilter type="numeric" field="currency" display="menu" currency="IDR"></p-columnFilter>
                    </div>
                <p-sortIcon field="currency"></p-sortIcon>
                </th>
                <th pSortableColumn="cqty">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Confirm Qty
                        <p-columnFilter type="numeric" field="cqty" display="menu"></p-columnFilter>
                    </div>
                <p-sortIcon field="cqty"></p-sortIcon>
                </th>
                <th pSortableColumn="arrival">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Confirm Arrival at Site
                        <p-columnFilter type="text" field="arrival" display="menu"></p-columnFilter>
                    </div>
                    <p-sortIcon field="arrival"></p-sortIcon>
                </th>
                <th pSortableColumn="lines">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Line Status
                        <p-columnFilter type="text" field="lines" display="menu"></p-columnFilter>
                    </div>
                <p-sortIcon field="lines"></p-sortIcon>
                </th>
                <th pSortableColumn="cprice">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Confirm Price
                        <p-columnFilter type="numeric" field="cprice" display="menu" currency="IDR"></p-columnFilter>
                    </div>
                <p-sortIcon field="cprice"></p-sortIcon>
                </th>
                <th pSortableColumn="dest">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Dest Org ID
                        <p-columnFilter type="text" field="dest" display="menu"></p-columnFilter>
                    </div>
                <p-sortIcon field="dest"></p-sortIcon>
                </th>
                <th pSortableColumn="last">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Last Price
                        <p-columnFilter type="numeric" field="last" display="menu" currency="IDR"></p-columnFilter>
                    </div>
                <p-sortIcon field="last"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td>
                    {{customer.supplier}}
                </td>
                <td>
                    {{customer.prnumber}}
                </td>
                <td>
                    {{customer.line}}
                </td>
                <td>
                    {{customer.date}}
                </td>
                <td>
                    {{customer.approval}}
                </td>
                <td>
                    {{customer.item}}
                </td>
                <td>
                    {{customer.itemd}}
                </td>
                <td>
                    {{customer.qty}}
                </td>
                <td>
                    {{customer.uom}}
                </td>
                <td>
                    {{customer.location}}
                </td><td>
                    {{customer.noteb}}
                </td>
                <td>
                    {{customer.notes}}
                </td>
                <td>
                    {{customer.manufaktur}}
                </td>
                <td>
                    {{customer.currency}}
                </td>
                <td>
                    {{customer.cqty}}
                </td>
                <td>
                    {{customer.arrival}}
                </td>
                <td>
                    {{customer.lines}}
                </td>
                <td>
                    {{customer.cprice}}
                </td>
                <td>
                    {{customer.dest}}
                </td>
                <td>
                    {{customer.last}}
                </td>
            </tr>
        </ng-template>
    </p-table>
    </p-card>