<p-breadcrumb [model]="breadcrumbs" [home]="home"></p-breadcrumb>

<div class="wrapperinside">
    <p-messages></p-messages>
    <form (ngSubmit)="onSubmit()" [formGroup]="groupForm" *ngIf="this.groupForm" style="padding: 2px;">
        <div style="height: 20px;"></div>
        <p-card class="p-my-2">
            <div class=" p-fluid">
                <div class="p-grid">
                    <div class="p-col">
                        <div class="box">
                            <label for="itemnumber" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Item Number
                                :</label>
                            <input class="p-mt-2" name="itemnumber" formControlName="itemnumber" id="itemnumber" type="text"
                                pInputText required>
                            <div class="p-field" *ngIf="submitted && f.itemnumber.errors">
                                <span style="color: red;" *ngIf="f.itemnumber.errors.required">Item Number required</span>
                            </div>
                        </div><div style="height: 15px;"></div>
                        <div class="box">
                            <label for="description" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Description
                                :</label>
                            <input class="p-mt-2" name="description" formControlName="description" id="description" type="text"
                                pInputText required>
                            <div class="p-field" *ngIf="submitted && f.description.errors">
                                <span style="color: red;" *ngIf="f.description.errors.required">Description is
                                    required</span>
                            </div>
                        </div><div style="height: 15px;"></div>
                        <div class="box">
                            <label for="uom" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">UOM
                                :</label>
                            <input class="p-mt-2" name="uom" formControlName="uom" id="uom" type="text"
                                pInputText required>
                            <div class="p-field" *ngIf="submitted && f.uom.errors">
                                <span style="color: red;" *ngIf="f.uom.errors.required">UOM is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <div class="box">
                            <label for="suppliername" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Supplier Name :</label>
                            <input class="p-mt-2" name="suppliername" formControlName="suppliername" id="suppliername" type="text"
                                pInputText required>
                            <div class="p-field" *ngIf="submitted && f.suppliername.errors">
                                <span style="color: red;" *ngIf="f.suppliername.errors.required">Supplier Name is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <div style="height: 15px;"></div>
                        <div class="box">
                            <label for="packsize" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Pack Size :</label>
                            <input class="p-mt-2" name="packsize" formControlName="packsize" id="packsize" type="text"
                                pInputText required>
                            <div class="p-field" *ngIf="submitted && f.packsize.errors">
                                <span style="color: red;" *ngIf="f.packsize.errors.required">Pack Size is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <div class="box">
                            <label for="category" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Catagory :</label>
                            <input class="p-mt-2" name="category" formControlName="category" id="category" type="text"
                                pInputText required>
                            <div class="p-field" *ngIf="submitted && f.category.errors">
                                <span style="color: red;" *ngIf="f.category.errors.required">Catagory is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <div class="box">
                            <label for="itemtype" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Item Type :</label>
                            <input class="p-mt-2" name="itemtype" formControlName="itemtype" id="itemtype" type="text"
                                pInputText required>
                            <div class="p-field" *ngIf="submitted && f.itemtype.errors">
                                <span style="color: red;" *ngIf="f.itemtype.errors.required">Item Type is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <div class="box">
                            <label for="qcchecking" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">QC Checking :</label>
                            <input class="p-mt-2" name="qcchecking" formControlName="qcchecking" id="qcchecking" type="text"
                                pInputText required>
                            <div class="p-field" *ngIf="submitted && f.qcchecking.errors">
                                <span style="color: red;" *ngIf="f.qcchecking.errors.required">QC Checking is
                                    required</span>
                            </div>
                        </div><div style="height: 15px;"></div>
                        
                        
                    </div>
                    <div class="p-col">
                        <div class="box" *ngIf="!isEdit">
                            <label for="operatingunit" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Operating Unit :</label>
                            <div style="height: 8px;"></div>
                            <!-- <p-selectButton id="isactive" [options]="stateOptions" formControlName="isactive"
                                optionLabel="label" optionValue="value"></p-selectButton> -->
                                <p-dropdown id="isactive" [options]="stateOptions" formControlName="isactive" optionLabel="label" optionValue="value"></p-dropdown>
                        </div>
                        <div class="box" *ngIf="isEdit">
                            <label for="operatingunit" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Operating Unit :</label>
                            <div style="height: 8px;"></div>
                            <!-- <p-selectButton id="isactive" [options]="stateOptions" formControlName="isactive"
                                optionLabel="label" optionValue="value"></p-selectButton> -->
                                <p-dropdown id="isactive" [options]="stateOptionsEdit" formControlName="isactive" optionLabel="label" optionValue="value"></p-dropdown>
                        </div><div style="height: 15px;"></div>
                        <div class="box">
                            <label for="organization" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Organization
                                :</label>
                            <input class="p-mt-2" name="organization" formControlName="organization" id="organization"
                                type="password" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.organization.errors">
                                <span style="color: red;" *ngIf="f.organization.errors.required">Organization is
                                    required</span>
                            </div> 
                        </div><div style="height: 15px;"></div>
                        <div style="height: 15px;"></div>
                        <div class="box">
                            <label for="ltrelease" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">LT Release :</label>
                            <input class="p-mt-2" name="ltrelease" formControlName="ltrelease" id="ltrelease" type="text"
                                pInputText required>
                            <div class="p-field" *ngIf="submitted && f.ltrelease.errors">
                                <span style="color: red;" *ngIf="f.ltrelease.errors.required">LT Release is
                                    required</span>
                            </div>
                        </div><div style="height: 15px;"></div>
                        <div class="box">
                            <label for="ltsend" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">LT Send
                                :</label>
                            <input class="p-mt-2" name="ltsend" formControlName="ltsend" id="ltsend"
                                type="password" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.ltsend.errors">
                                <span style="color: red;" *ngIf="f.ltsend.errors.required">LT Send is
                                    required</span>
                            </div> 
                        </div><div style="height: 15px;"></div>
                        <div class="box">
                            <label for="lttotal" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">LT Total
                                :</label>
                            <input class="p-mt-2" name="lttotal" formControlName="lttotal" id="lttotal"
                                type="password" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.lttotal.errors">
                                <span style="color: red;" *ngIf="f.lttotal.errors.required">LT Total is
                                    required</span>
                            </div> 
                        </div><div style="height: 15px;"></div>
                        <div class="box">
                            <label for="ropvendor" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">ROP Vendor
                                :</label>
                            <input class="p-mt-2" name="ropvendor" formControlName="ropvendor" id="ropvendor"
                                type="password" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.ropvendor.errors">
                                <span style="color: red;" *ngIf="f.ropvendor.errors.required">ROP Vendor is
                                    required</span>
                            </div> 
                        </div><div style="height: 15px;"></div>
                        <div class="box">
                            <label for="ropmultiplier" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">ROP Multiplier
                                :</label>
                            <input class="p-mt-2" name="ropmultiplier" formControlName="ropmultiplier" id="ropmultiplier"
                                type="password" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.ropmultiplier.errors">
                                <span style="color: red;" *ngIf="f.ropmultiplier.errors.required">ROP Multiplier is
                                    required</span>
                            </div> 
                        </div><div style="height: 15px;"></div>
                        <div class="box">
                            <label for="leadtime" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Lead Time
                                :</label>
                            <input class="p-mt-2" name="leadtime" formControlName="leadtime" id="leadtime"
                                type="password" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.leadtime.errors">
                                <span style="color: red;" *ngIf="f.leadtime.errors.required">Lead Time is
                                    required</span>
                            </div> 
                        </div><div style="height: 15px;"></div>
                    </div>
                </div>
            </div>
        </p-card>
        <div class="p-field p-col p-mt-5">
            <div class="p-formgrid p-grid" style="text-align: right;">
                <div class="p-field p-col">
                    <button pButton pRipple type="submit" label="Save" class="p-button-success" icon="pi pi-angle-right"
                        iconPos="right"></button>
                </div>
            </div>
        </div>
    </form>
</div>