<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<p-progressSpinner *ngIf="userlist.length == 0" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages>
<div *ngIf="userlist.length > 0" style="padding-left: 10px;padding-right: 10px;">
    <app-tablehelper [records]="userlist" [header]="usrheader" [wsearch]=true [actionbtn]="usractionbtn"
        [colnames]="usrcolname" [colwidth]="usrcolwidth" [colclasshalign]="usrcolhalign" [addbtnlink]="usraddbtn"
        [colmark]=4 (datadeleted)="deleteConfirmation($event)" (datapreview)="viewData($event)" 
        (dataapprover)="approvalData($event)" [scrollheight]="scrollheight" 
        [nopaging]=false 
        [dropbtn]=true
        [dropbtnitems]="usrlistmenubtn"
        [fieldpipeformat]="usrfieldformat"
        ></app-tablehelper>
</div>

<p-dialog header="Delete User" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000" [draggable]="false"
    [resizable]="false">
    <p style="font-size: 18;">Are you sure want to delete this Users?</p>
    <ng-template pTemplate="footer">
        <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
        <p-button (click)="deleteUser()" label="Yes" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<!-- 
<p-dialog header="View User" [(visible)]="viewDisplay" [style]="{width: '200vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <div class="p-fluid">
        <app-tablehelper [records]="userlist" [header]="usrheader" [wsearch]=true [actionbtn]="usractionbtn"
        [colnames]="usrcolname" [colwidth]="usrcolwidth" [colclasshalign]="usrcolhalign" [addbtnlink]="usraddbtn"
         (datadeleted)="deleteConfirmation($event)" (datapreview)="viewData($event)" (dataapprover)="approvalData($event)" [scrollheight]="scrollheight" [nopaging]=true [items]="items" [verticalscr]=false></app-tablehelper>

    </div>
</p-dialog> -->



<p-dialog header="Approval" [(visible)]="viewApprove" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <div class="p-fluid">
        <div class="p-grid">
            <p class="p-col-12" style="font-size: 18px;">This records need approval from you?, please choose wisely</p>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button (click)="viewApprove=false" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button (click)="approvalSubmit(4)" label="Reject" styleClass="p-button-text"></p-button>
        <p-button (click)="approvalSubmit(1)" label="Approve" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>





<!-- (datadeleted)="deleteConfirmation($event)" -->