<p-breadcrumb [model]="breadcrumbs" [home]="home"></p-breadcrumb>

<div class="wrapperinside">
    <p-messages></p-messages>
    <form (ngSubmit)="onSubmit()" [formGroup]="groupForm" *ngIf="this.groupForm" style="padding: 2px;">
        <div style="height: 20px;"></div>
        <p-card class="p-my-2">
            <div class=" p-fluid">
                <div class="p-grid">
                    <div class="p-col">
                        <div class="box">
                            <label for="userlevel" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">User Status <span style="color: red;">*</span>
                             </label><div style="height: 8px;"></div>
                                <p-selectButton [disabled]="isEdit" [options]="empOrSup" formControlName="userlevel" id="userlevel" optionLabel="label" optionValue="value" (onOptionClick)="empsupclicked($event)" required></p-selectButton>
                            <div class="p-field" *ngIf="submitted && f.userlevel.errors">
                                <span style="color: red;" *ngIf="f.userlevel.errors.required">User status is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 10px;"></div>
                        <div class="box">
                            <label for="optunit" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Company </label><span style="font-style: italic;">(choose to get data)</span>
                            <div style="height: 8px;"></div>
                            <!-- <p-selectButton id="isactive" [options]="stateOptions" formControlName="isactive"
                                optionLabel="label" optionValue="value"></p-selectButton> -->
                                <p-dropdown  id="optunit" [options]="companyList" formControlName="tenantchoosed" optionLabel="tnname" (onChange)="optUnitclicked($event)" placeholder="Select Company"  [disabled]="isEdit&&empsupClicked==1"></p-dropdown>
                        </div>
                        <div style="height: 10px;" *ngIf="empsupClicked === 1"></div>
                        <div class="box"  *ngIf="empsupClicked === 1">
                            <label for="emplobj" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Employee <span style="color: red;">*</span>
                             </label><div style="height: 8px;"></div>
                            <p-autoComplete [showEmptyMessage]="true" id="emplobj" class="p-mt-2" formControlName="emplobj" [suggestions]="empSuggest" (completeMethod)="filterEmp($event)" field="label" (onSelect)="employenameSelected($event)" [disabled]="isEdit&&empsupClicked==1"></p-autoComplete>
                        </div>


<!------- THIS IS SUPPLIER ---------->

                        <div style="height: 10px;" *ngIf="empsupClicked === 2"></div>
                        <div class="box"  *ngIf="empsupClicked === 2">
                            <label for="suplobj" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Supplier Names <span style="color: red;">*</span>
                             </label><div style="height: 8px;"></div>
                             
                            <!-- <p-autoComplete [showEmptyMessage]="true" id="suplobj" class="p-mt-2" formControlName="suplobj" [suggestions]="supSuggest" (completeMethod)="filterSup($event)" field="label" [multiple]="true" class="autosrc"></p-autoComplete> -->
                            <div class=" p-fluid">
                                <div class="p-grid">
                                    <div class="p-col-10"><p-dropdown id="suplobj" [options]="supList" optionLabel="VENDOR_NAME" (onChange)="optSplclicked($event)" placeholder="Select Supplier"></p-dropdown></div>
                                    <div class="p-col-2">
                                    <!-- <button pButton pRipple type="button" label="Add" (onClick)="addsuppliertables($event)" icon="pi pi-check"
                                        iconPos="left"></button> -->
                                    <p-button label="Add" (onClick)="addsuppliertables($event)" icon="pi pi-check"
                                    iconPos="left"></p-button>
                                    
                                    
                                    </div>
                                </div>
                            </div>





                        </div><div style="height: 10px;"></div>
                        <p-table *ngIf="empsupClicked === 2" [value]="supplierselectlist" [scrollable]="true" [style]="{width:'600px'}" scrollHeight="200px">
                            <ng-template pTemplate="colgroup" let-columns>
                                <colgroup>
                                    <col style="width:200px">
                                    <col style="width:150px">
                                    <col style="width:100px">
                                    <col style="width:100px">
                                    <col style="width:100px">
                                </colgroup>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class='p-text-center'>Company</th>
                                    <th class='p-text-center'>User Name</th>
                                    <th class='p-text-center'>ID Vendor</th>
                                    <th class='p-text-center'>Status</th>
                                    <th class='p-text-center'>action</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-supplier>
                                <tr>
                                    <td>{{supplier.company}}</td>
                                    <td>{{supplier.fullname}}</td>
                                    <td>{{supplier.idvendor}}</td>
                                    <td class='p-text-center'>
                                        <i class="pi pi-check-circle" *ngIf="supplier.status === 1" pTooltip="Activated"
                        style="color: green;"></i>
                                        <i class="pi pi-times-circle" *ngIf="supplier.status === 0" pTooltip="Deactivated"
                                        style="color: red;"></i>
                                    </td>
                                    <td>
                                        <button pButton pRipple type="button" icon="pi pi-times" (click)="delsuppliertables(supplier)" style="color: red!important;" class="p-button-rounded p-button-secondary p-button-text cstnoheader" pTooltip="Delete record"></button>

                                    </td>
                                    
                                </tr>
                            </ng-template>
                        </p-table>



<!----------End Supplier ----------------->


                        <div style="height: 15px;"></div>
                        <div class="box">
                            <label for="fullname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Full Name <span style="color: red;">*</span></label>
                            <input class="p-mt-2" name="fullname" formControlName="fullname" id="fullname" type="text"
                                pInputText required>
                            <div class="p-field" *ngIf="submitted && f.fullname.errors">
                                <span style="color: red;" *ngIf="f.fullname.errors.required">Fullname is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 10px;"></div>
                        <div class="box">
                            <label for="username" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">User Name <span style="color: red;">*</span></label>
                            <input class="p-mt-2" name="username" formControlName="username" id="username" type="text"
                                pInputText required>
                            <div class="p-field" *ngIf="submitted && f.username.errors">
                                <span style="color: red;" *ngIf="f.username.errors.required">User Name is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 10px;"></div>
                        <div class="box">
                            <label for="temppass" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Password <span style="color: red;">*</span>
                             </label>
                            <input class="p-mt-2" name="temppass" formControlName="temppass" id="temppass"
                                type="password" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.temppass.errors">
                                <span style="color: red;" *ngIf="f.temppass.errors.required">Password is
                                    required</span>
                            </div>
                        </div>
                    <div style="height: 10px;"></div>

                        <div class="box">
                            <label for="description" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Description
                             </label>
                            <input class="p-mt-2" name="description" formControlName="description" id="description" type="text"
                                pInputText required>
                            <!-- <div class="p-field" *ngIf="submitted && f.emailname.errors">
                                <span style="color: red;" *ngIf="f.emailname.errors.required">Email is
                                    required</span>
                            </div> -->
                        </div>
                    </div>
                    <!-- <p-selectButton [options]="cities" [(ngModel)]="selectedCityCode" optionLabel="name" optionValue="code"></p-selectButton> -->

                    <div class="p-col">
                        <!-- empsupClicked -->
                        <div class="box">
                            <label for="orgMlt" class="p-col-12 p-mb-2 p-md-2 p-mb-md-10">Access Menu Previlages <span style="color: red;">*</span></label>
                            <div style="height: 8px;"></div>
                            <p-autoComplete formControlName="orgMlt" [suggestions]="orgSuggest"
                                (completeMethod)="filterOrg($event)" field="name" [multiple]="true" class="autosrc">
                            </p-autoComplete>
    
                            <div class="p-field" *ngIf="submitted && f.orgMlt.errors">
                                <span style="color: red;" *ngIf="f.orgMlt.errors.required">Menu Previlages are
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 10px;"></div>
                        <div class="p-grid">
                            <div class="p-col">
                                <label for="startdate" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Start Date <span style="color: red;">*</span>
                                 </label><div style="height: 8px;"></div>
                                <p-calendar class="p-mt-2" id="startdate" formControlName="startdate" dateFormat="dd-mm-yy" [showIcon]="true" ></p-calendar>
                            </div>
                            <div class="p-col">
                                <label for="enddate" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Start Date
                                 </label><div style="height: 8px;"></div>
                                <p-calendar class="p-mt-2" id="enddate" formControlName="enddate" dateFormat="dd-mm-yy" [showIcon]="true" ></p-calendar>
                            </div>
                        </div>
                        <div style="height: 5px;"></div>
                        <div class="box">
                            <label for="usercode" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">User Code
                             </label>
                            <input class="p-mt-1" name="usercode" formControlName="usercode" id="usercode" type="text"
                                pInputText required>
                            <!-- <div class="p-field" *ngIf="submitted && f.emailname.errors">
                                <span style="color: red;" *ngIf="f.emailname.errors.required">Email is
                                    required</span>
                            </div> -->
                        </div>
                        <div style="height: 10px;"></div>
                        <div class="box">
                            <label for="emailname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Email Address<span style="color: red;">*</span>
                             </label><span style="font-style: italic;">(Active user email!)</span>
                            <input class="p-mt-2" name="emailname" formControlName="emailname" id="emailname" type="text"
                                pInputText required>
                            <div class="p-field" *ngIf="submitted && f.emailname.errors">
                                <span style="color: red;" *ngIf="f.emailname.errors.required">Email is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 10px;"></div>
                        <div class="box">
                            <label for="emailname1" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Cc Address
                             </label><span style="font-style: italic;">(Could be report to email!)</span>
                            <input class="p-mt-2" name="emailname1" formControlName="emailname1" id="emailname1" type="text"
                                pInputText>
                        </div>
                        <div style="height: 10px;"></div>
                        <div class="box">
                            <label for="emailname2" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Cc Address2
                             </label><span style="font-style: italic;">(Could be report to email!)</span>
                            <input class="p-mt-2" name="emailname2" formControlName="emailname2" id="emailname2" type="text"
                                pInputText>
                        </div>
                        <div style="height: 10px;"></div>
                        <!-- <div class="box" *ngIf="!isEdit">
                            <label for="isactive" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Activate user :</label>
                            <div style="height: 8px;"></div>
                                <p-dropdown id="isactive" [options]="stateOptions" formControlName="isactive" optionLabel="label" optionValue="value"></p-dropdown>
                        </div> -->
                        <div class=" p-fluid">
                            <div class="p-grid">
                                <div class="p-col-4">
                                    <div class="box">
                                        <label for="isactive" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Active</label><br/><div style="height: 8px;"></div>
                                        <p-selectButton [options]="stateOptions" formControlName="isactive" id="isactive" optionLabel="label" optionValue="value" class="p-mt-2"></p-selectButton>
                                    </div>
                                </div>
                                <div class="p-col-8"></div>
                            </div>
                        </div>
                        
                        
                        <div style="height: 10px;"></div>



                        <!-- <p>Keep deactivated will email the user registered to activated</p> -->
                    </div>
                </div>
            </div>
        </p-card>
        <div class="p-field p-col p-mt-5">
            <div class="p-formgrid p-grid" style="text-align: right;">
                <div class="p-field p-col">
                    <button pButton pRipple type="submit" label="Save" class="p-button-success" icon="pi pi-angle-right"
                        iconPos="right"></button>
                </div>
            </div>
        </div>
    </form>
</div>