<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<p-messages></p-messages>
<div style="padding-left: 10px;padding-right: 10px;">
    <p-card [style]="{'width': 'auto', 'height': 'auto', 'margin-top': '1em', 'margin-bottom': '1em'}">
         <div>
            <div class="p-d-flex">
                <!-- <p-button label="Add data" icon="pi pi-plus-circle" styleClass="p-button-sm p-button-rounded"></p-button> -->
                <span class="p-input-icon-right">
                    <h4>Type <p-dropdown id="type"  [options]="typevalue" optionLabel="name"
                        placeholder="- Select -" [(ngModel)]="typeselected" 
                        style="padding-left: 10px;padding-right: 10px;" styleClass="my-dropdown">
                        </p-dropdown>
                    </h4>
                </span>
                <span class="p-input-icon-right">
                    <h4>Type <p-dropdown id="supplier"  [options]="typevalue" optionLabel="name"
                        placeholder="- Select -" [(ngModel)]="supplierselected" 
                        style="padding-left: 10px;padding-right: 10px;">
                        </p-dropdown>
                    </h4>
                </span>
                <span class="p-ml-auto" style="padding-top: 15px;padding-right: 15px;">
                    <div class="box" >
                    <button pButton pRipple type="button" 
                     label="Search" class="p-primary-btn" (click)="search()" style="padding-right: 15px;"></button>
                    </div>
                </span>
                <span  style="padding-top: 15px;padding-right: 15px;">
                <button pButton pRipple type="button"  label="Clear"
                     class="redButton" (click)="clearDropdown()" style="padding-left: 15px;"></button>
                </span>
                
            </div>
         
         </div>
     </p-card>
     <p-card [style]="{'width': 'auto', 'height': 'auto', 'margin-top': '1em', 'margin-bottom': '1em'}">
        <p-table #dt  dataKey="id" [rows]="5" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[5, 10,25,50]" styleClass="p-datatable-customs p-datatable-gridlines" [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
            responsiveLayout="scroll">
        </p-table>
    </p-card>

 
 </div>
