

<p-breadcrumb [model]="breadcrumbs" [home]="home"></p-breadcrumb>
<p-messages></p-messages>


<div style="padding-left: 10px;padding-right: 10px;">
   <p-card [style]="{'width': 'auto', 'height': '60px', 'margin-top': '1em', 'margin-bottom': '1em'}">
        <div class="p-grid" [style]="{'margin-top': '-28px'}">
            <div class="p-col-3" >
                <div class="box">
                    <h4>Module <p-dropdown id="modultype"  [options]="modultype" optionLabel="modulename"
                        placeholder="Select Module" [(ngModel)]="modultypeselected">
                        </p-dropdown>
                    </h4>
                </div>
            </div>
            <div class="p-col-2" [style]="{'margin-left': '-100px'}">
                <div class="box">
                    <h4>Status <p-dropdown id="statustype"  [options]="statustype" optionLabel="statusname"
                        placeholder="Select Status" [(ngModel)]="statustypeselected">
                        </p-dropdown>
                    </h4>
                </div>
            </div>
            <div class="p-col-3" [style]="{'margin-left': '-28px'}">
                <div class="box" [style]="{'margin-top': '16px'}">
                    <button (click)="previewFilter()" pButton pRipple type="button" pTooltip="Go" icon="pi pi-search" style="padding-left: 10px;"></button>
                </div>
            </div>
        </div>
    </p-card>
    <p-progressSpinner *ngIf="notiflist.length == 0" class="p-text-center"></p-progressSpinner> 
    <p-messages></p-messages>
    <div *ngIf="notiflist.length > 0">
        <app-tablehelper [records]="notiflist" 
        [header]="notifheader" 
        [wsearch]=false 
        [actionbtn]="listactionbtn"
            [colnames]="notifcolname" 
            [colwidth]="notifcolwidth" 
            [colclasshalign]="notifcolhalign" 
            [addbtnlink]="notifaddbtn"
            [colbadge]=3
            [wactionbtn]=false
            (datadeleted)="deleteConfirmation($event)" 
            (datapreview)="viewData($event)" 
            (dataapprover)="approvalData($event)" 
            [scrollheight]="scrollheight" 
            [nopaging]=false 
            [wapproval]=false
            [fieldpipeformat]="notffieldformat"
            ></app-tablehelper>
    </div>

</div>

<!-- [dropbtn]=true
            [dropbtnitems]="usrlistmenubtn"
            [fieldpipeformat]="usrfieldformat" -->




<!-- (datadeleted)="deleteConfirmation($event)" -->