<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>

<div class="body">
    <p-card class="header">
    </p-card>
    <p-card class="body1">
    <div class="card">
        <div class="p-d-flex" style="margin-left: 1px; margin-bottom: 10px;">
            <span class="p-input-icon-right p-ml-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />  
            </span>
        </div>
        <p-table #dt1 [value]="capa" dataKey="id" [scrollable]="true" [value]="capa" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [style]="{'background-color': 'blue'}"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,15,20,25]" [globalFilterFields]="['name', 'document','subject', 'status']">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name">Username <p-columnFilter type="text" field="name" display="menu"></p-columnFilter><p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="document">Vendor Name <p-columnFilter type="text" field="document" display="menu"></p-columnFilter><p-sortIcon field="document"></p-sortIcon></th>
                    <th pSortableColumn="subject">Company <p-columnFilter type="text" field="subject" display="menu"></p-columnFilter><p-sortIcon field="subject"></p-sortIcon></th>
                    <th>Active</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-capa let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="capa">
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="capa.name">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{capa.name}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>{{capa.document}}</td>
                    <td>{{capa.subject}}</td>
                    <td>{{capa.status}}</td>
                    <td><button pButton type="button" class="p-button-secondary" icon="pi pi-pencil"></button></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
               
            </ng-template>
            <ng-template pTemplate="paginatorright">
               
            </ng-template>
        </p-table>
    </div>
    </p-card>
    </div>