<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<p-messages></p-messages>
<div style="padding-left: 10px;padding-right: 10px;">
    <p-card [style]="{'width': 'auto', 'height': 'auto', 'margin-top': '1em', 'margin-bottom': '1em'}">
         <div>
            <div class="p-d-flex">
                <!-- <p-button label="Add data" icon="pi pi-plus-circle" styleClass="p-button-sm p-button-rounded"></p-button> -->
                <span class="p-input-icon-right">
                    <h4>Type <p-dropdown id="type"  [options]="typevalue" optionLabel="name"
                        placeholder="- Select -" [(ngModel)]="typeselected" (onChange)="onChange($event)"
                        style="padding-left: 10px;padding-right: 10px;" styleClass="my-dropdown">
                        </p-dropdown>
                        
                    </h4>
                </span>
                    <span class="p-ml-auto" style="padding-top: 15px;padding-right: 15px;">
    
                    <button pButton pRipple type="button" icon="pi pi-plus-circle"
                [routerLink]="addbtn.route" label="{{addbtn.label}}" class="p-primary-btn" ></button>
                </span>
                
            </div>
            <div class="box" style="padding-left: 40px;">
                <p-fileUpload #fubauto mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" 
                (onUpload)="onUpload($event)" [auto]="true" chooseLabel="Upload File" ></p-fileUpload>
        
            </div>
         
         </div>
     </p-card>
 
 </div>
