<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>

<div class="body">
    <p-card class="header">
    </p-card>
    <p-card class="body1">
    <div class="card">
        <p-table styleClass="p-datatable-gridlines" [value]="capa" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [style]="{'background-color': 'blue'}"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,15,20,25]">
            <ng-template pTemplate="header" [globalFilterFields]="['name']" >
                <tr>
                    
                    <th pSortableColumn="name">Supplier <p-columnFilter type="text" field="name" display="menu"></p-columnFilter><p-sortIcon field="name"></p-sortIcon></th>
                    <th>Ducoment No</th>
                    <th>Document Date</th>
                    <th>Subject</th>
                    <th>Response Date</th>
                    <th>Response</th>
                    <th pSortableColumn="status">Status
                        <p-columnFilter field="status" display="menu">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="status" (onChange)="filter($event.value)"
                                    placeholder="Any">
                                    <ng-template let-option pTemplate="item">
                                        <span [class]="'capa-badge status-' + option.value">{{capa.status}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                        <p-sortIcon field="status"></p-sortIcon>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-capa>
                <tr>
                    <td>{{capa.name}}</td>
                    <td>{{capa.document}}</td>
                    <td>{{capa.date}}</td>
                    <td>{{capa.subject}}</td>
                    <td>{{capa.responsedate}}</td>
                    <td>{{capa.response}}</td>
                    <td>{{capa.status}}</td>
                    <td><button pButton type="button" class="p-button-secondary" icon="pi pi-pencil"></button></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
               
            </ng-template>
            <ng-template pTemplate="paginatorright">
               
            </ng-template>
        </p-table>
    </div>
    </p-card>
    </div>

    