<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<div>
    <p-card>
        <div class="p-grid">
            <div class="p-col">
                <div class="p-field p-grid">
                    <label for="company" class="p-col-fixed" style="width:100px">Company</label>
                    <div class="p-col" >
                        <p-dropdown [style]="{'width': '550px'}" [options]="company" [(ngModel)]="selectedCompany" optionLabel="name" placeholder="Select Company"></p-dropdown> 
                    </div>
                </div>
                <div class="p-field p-grid" style="margin-top: 10px;">
                    <label for="supplier" class="p-col-fixed" style="width:100px">Supplier</label>
                    <div class="p-col">
                        <p-dropdown [style]="{'width': '550px'}" [options]="company" [(ngModel)]="selectedCompany" optionLabel="name" placeholder="Select Supplier"></p-dropdown> 
                    </div>
                </div>
                <div class="p-field p-grid" style="margin-top: 10px;">
                    <label for="invoice" class="p-col-fixed" style="width:100px">Invoice No</label>
                    <div class="p-col">
                        <input [style]="{'width': '550px'}" id="invoice" type="text" pInputText placeholder="Invoice No">  
                    </div>
                </div>
                <div class="p-field p-grid" style="margin-top: 10px;">
                    <label for="invoice" class="p-col-fixed" style="width:100px">Invoice Date</label>
                    <div class="p-col">
                        <p-calendar [style]="{'width': '550px'}" [(ngModel)]="value" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" inputId="navigators" placeholder="Select Date"></p-calendar>
                    </div>
                </div>
                <div class="p-field p-grid" style="margin-top: 10px;">
                    <label for="invoice" class="p-col-fixed" style="width:100px">GL Date</label>
                    <div class="p-col">
                        <p-calendar [style]="{'width': '550px'}" [(ngModel)]="value" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" inputId="navigators" placeholder="Select Date"></p-calendar>
                    </div>
                </div>
                <div class="p-field p-grid" style="margin-top: 10px;">
                    <label for="invoice" class="p-col-fixed" style="width:100px">Description</label>
                    <div class="p-col">
                        <textarea rows="5" cols="66" pInputTextarea></textarea> 
                    </div>
                </div>
                <div class="p-field p-grid" style="margin-top: 10px;">
                    <label for="invoice" class="p-col-fixed" style="width:100px">Tax Invoice No</label>
                    <div class="p-col">
                        <input [style]="{'width': '550px'}" id="invoice" type="text" pInputText placeholder="Tax Invoice No">  
                    </div>
                </div>
                <div class="p-field p-grid" style="margin-top: 10px;">
                    <label for="invoice" class="p-col-fixed" style="width:100px">Tax Invoice Date</label>
                    <div class="p-col">
                        <p-calendar [style]="{'width': '550px'}" [(ngModel)]="value" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" inputId="navigators" placeholder="Select Date"></p-calendar>
                    </div>
                </div>
                <div class="p-field p-grid" style="margin-top: 10px;">
                    <label for="invoice" class="p-col-fixed" style="width:100px">Tax Attachment</label>
                    <div class="p-col">
                        <p-calendar [style]="{'width': '550px'}" [(ngModel)]="value" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" inputId="navigators" placeholder="Select Date"></p-calendar>
                    </div>
                </div>
            </div>
            <div class="p-col">
                <div class="p-field p-grid">
                    <label for="company" class="p-col-fixed" style="width: 200px;">Invoice Amount</label>
                    <div class="p-col" style="text-align: center;">
                        0.00 
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label for="company" class="p-col-fixed" style="width: 200px;">Tax Amount</label>
                    <div class="p-col" style="text-align: center;">
                        0.00 
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label for="company" class="p-col-fixed" style="width: 200px;">Total</label>
                    <div class="p-col" style="text-align: center;">
                        0.00 
                    </div>
                </div>
                <div class="p-field p-grid" style="margin-top: 10px;">
                    <label for="invoice" class="p-col-fixed" style="width:200px">Currency</label>
                    <div class="p-col">
                        <p-inputNumber [style]="{'width': '550px'}" [(ngModel)]="value1" inputId="stacked" mode="currency" currency="IDR" placeholder="Currency"></p-inputNumber>
                    </div>
                </div>
                <div class="p-field p-grid" style="margin-top: 10px;">
                    <label for="company" class="p-col-fixed" style="width:200px">Remit To Bank Account</label>
                    <div class="p-col">
                        <p-dropdown [style]="{'width': '550px'}" [options]="company" [(ngModel)]="selectedCompany" optionLabel="name" placeholder="Bank Account"></p-dropdown> 
                    </div>
                </div>
                <div class="p-field p-grid" style="margin-top: 10px;">
                    <label for="company" class="p-col-fixed" style="width:200px">Payment Method</label>
                    <div class="p-col">
                        <p-dropdown [style]="{'width': '550px'}" [options]="company" [(ngModel)]="selectedCompany" optionLabel="name" placeholder="Payment Method"></p-dropdown> 
                    </div>
                </div>
                <div class="p-field p-grid" style="margin-top: 10px;">
                    <label for="company" class="p-col-fixed" style="width:200px">Term</label>
                    <div class="p-col">
                        <p-dropdown [style]="{'width': '550px'}" [options]="company" [(ngModel)]="selectedCompany" optionLabel="name" placeholder="Term"></p-dropdown> 
                    </div>
                </div>
                <div class="p-field p-grid" style="margin-top: 10px;">
                    <label for="company" class="p-col-fixed" style="width:200px">Reference Number</label>
                    <div class="p-col">
                        <p-autoComplete [style]="{'width': '550px'}" [(ngModel)]="selectedItem" [virtualScroll]="true" [suggestions]="filteredItems" [itemSize]="34" (completeMethod)="filterItems($event)" field="label" [dropdown]="true">
                        </p-autoComplete>
                </div>
                </div>
                <div class="p-field p-grid" style="margin-top: 10px;">
                    <label for="card" class="p-col-fixed" style="width:200px">Card Center</label>
                    <div class="p-col">
                        <input [style]="{'width': '550px'}" id="card" type="text" pInputText placeholder="Card Number">  
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="p-d-flex">
                <div class="p-mr-2">Detail Category </div>
                <div class="p-mr-2"><input id="detail" type="text" pInputText placeholder="Detail"> </div>
                <div><button pButton pRipple type="button" label="Add Line" class="p-button-success"></button></div>
            </div>
                <div style="margin-top: 20px;">
                    <p-table styleClass="p-datatable-gridlines" [value]="capa">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th>No</th>
                                <th>PO Number</th>
                                <th>PO Line</th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Qty</th>
                                <th>Amount</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-capa>
                            <!-- <tr>
                                <td>
                                    <p-tableCheckbox [value]="capa"></p-tableCheckbox>
                                </td>
                                <td>{{capa.name}}</td>
                                <td>{{capa.document}}</td>
                                <td>{{capa.date}}</td>
                                <td>{{capa.subject}}</td>
                                <td>{{capa.responsedate}}</td>
                                <td>{{capa.response}}</td>
                                <td>{{capa.status}}</td>
                            </tr> -->
                        </ng-template>
                    </p-table>
            </div>
        </div>
        <div>
            <div style="margin-top: 30px;">
                <div class="p-grid">
                    <div class="p-col"><button pButton pRipple type="button" label="Save" class="p-button-success" style="width: 300px;"></button></div>
                    <div class="p-col"><button pButton pRipple type="button" label="Add to Batch" class="p-button-secondary" style="width: 300px;"></button></div>
                    <div class="p-col"><button pButton pRipple type="button" label="Print Goods Receipt Note" style="width: 300px;"></button></div>
                    <div class="p-col"><button pButton pRipple type="button" label="Cancel" class="p-button-warning" style="width: 300px;"></button></div>
                </div>
            </div>
        </div>
    </p-card>
</div>
