<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<div class="wrapper">
  <!-- Card dengan teks "Requisition"-->
  <p-card header="Requisition"
    [style]="{'color': 'white', 'background-color': 'blue', 'width': 'auto', 'height': '50px', 'margin': '1em 0 1em 0'}">
  </p-card>

  <!-- Background Card-->
  <p-card [style]="{'width': 'auto', 'height': '60px', 'margin': '1.5em 0 1em 0'}">

    <div class="p-grid" [style]="{'margin-top': '-28px'}">

      <!-- Kolom Search -->
      <div class="p-col-3">
        <div class="box">
          <h4>Search &nbsp;<input [style]="{'width': '200px'}" type="text" pInputText></h4>
        </div>
      </div>

      <!-- Tombol Go -->
      <div class="p-col-1">
        <div class="box" [style]="{'margin-top': '17px'}">
          <button pButton pRipple type="button" label="Go"></button>
        </div>
      </div>

      <div class="p-col-1"></div>

      <!-- Dropdown Reports -->
      <div class="p-col-2">
        <div class="box">
          <h4>Reports &nbsp;<p-dropdown [style]="{'width': '105px'}" [options]="reports" [(ngModel)]="selectedReport"
              optionLabel="name"></p-dropdown>
          </h4>
        </div>
      </div>

      <!-- Tombol Action -->
      <div class="p-col-1">
        <div class="box" [style]="{'margin-top': '17px'}">
          <button pButton pRipple type="button" label="Actions" class="p-button-success"></button>
        </div>
      </div>
      <div class="p-col-2"></div>
      <div class="p-col-2"></div>

    </div>
  </p-card>

  <!-- Tabel Dummy -->
  <p-table responsiveLayout="scroll"
    [style]="{'margin': '2em 0 1em 0', 'padding': '0 0 1em 0', 'background-color': 'white'}">
    <ng-template pTemplate="header">
      <tr>
        <th id="">PR Number &nbsp;<em class="pi pi-sort-alt"></em></th>
        <th id="">Item Number &nbsp;<em class="pi pi-sort-alt"></em></th>
        <th id="">Item Description &nbsp;<em class="pi pi-sort-alt"></em></th>
        <th id="">Quantity &nbsp;<em class="pi pi-sort-alt"></em></th>
      </tr>
      <br>

      <!-- Dummy Data -->
      <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp; 10</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp; 123411</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp; Tablet</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp; 800</td>
      </tr>
      <br>
      <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp; 11</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp; 102020</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp; Bottle</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp; 600</td>
      </tr>
      <br>
      <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp; 12</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp; 203040</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp; Syringe</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp; 300</td>
      </tr>
    </ng-template>
  </p-table>

</div>
