<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<p-progressSpinner *ngIf="itemjitlist.length == 0" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages>
<div *ngIf="itemjitlist.length > 0" style="padding-left: 10px;padding-right: 10px;">
    <app-tablehelper [records]="itemjitlist" [header]="itemjitheader" [wsearch]=true [actionbtn]="itemjitactionbtn"
        [colnames]="itemjitcolname" [colwidth]="itemjitcolwidth" [colclasshalign]="itemjitcolhalign" [addbtnlink]="itemjitaddbtn"
        [colmark]=2 (datadeleted)="deleteConfirmation($event)" (datapreview)="viewData($event)" [scrollheight]="scrollheight" [nopaging]=true [items]="items" [verticalscr]=false></app-tablehelper>
</div>

<p-dialog header="Delete Item JIT" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000" [draggable]="false"
    [resizable]="false">
    <p style="font-size: 18;">Are you sure want to delete this Item JIT?</p>
    <ng-template pTemplate="footer">
        <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
        <p-button (click)="deleteItemJit()" label="Yes" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<p-toast [style]="{marginTop: '80px'}"></p-toast>


<!-- (datadeleted)="deleteConfirmation($event)" -->