<!-- Card bagian sorting Supplier, Status dan input PO Number, Tombol Go dan Clear-->
<p-card [style]="{'width': 'auto', 'height': '60px', 'margin': '1em 0 3em 0'}">

  <div class="p-grid" [style]="{'margin-top': '-28px'}">

    <!-- Dropdown Supplier -->
    <div class="p-col-3">
      <div class="box">
        <h4>Supplier <p-dropdown [style]="{'width': '150px'}" [options]="suppliers" [(ngModel)]="selectedSupplier" optionLabel="name"></p-dropdown>
        </h4>
      </div>
    </div>

    <!-- Input PO Number -->
    <div class="p-col-3">
      <div class="box">
        <h4>DO Number <input [style]="{'width': '160px'}" type="text" pInputText></h4>
      </div>
    </div>


    <!-- Dropdown Status -->
    <div class="p-col-3">
      <div class="box">
        <h4>Status <p-dropdown [style]="{'width': '140px'}" [options]="statuses" [(ngModel)]="selectedStatus" optionLabel="name"></p-dropdown>
        </h4>
      </div>
    </div>

    <!-- Tombol Go & Clear -->
    <div class="p-col-2">
        <div class="box" [style]="{'margin': '16px 0 0 -36px'}">
            <button pButton pRipple type="button" label="Go"></button>&nbsp;
            <button pButton pRipple type="button" label="Clear" class="p-button-secondary"></button>
        </div>
    </div>
    <div class="p-col-1"></div>
    

  </div>
</p-card>

<!-- Tabel Dummy -->
<h4>DO Number: DO_ANCOL_001,ANCOL TERANG METAL PRINTING INDUSTRY, PT</h4>
<p-table responsiveLayout="scroll"
  [style]="{'margin': '2em 0 3em 0', 'padding': '0 0 1em 0', 'background-color': 'white'}">
  <ng-template pTemplate="header">
    <tr>
      <th id="">Line &nbsp;<em class="pi pi-sort-alt"></em></th>
      <th id="">Item Number &nbsp;<em class="pi pi-sort-alt"></em></th>
      <th id="">Item Description &nbsp;<em class="pi pi-sort-alt"></em></th>
      <th id="">Quantity &nbsp;<em class="pi pi-sort-alt"></em></th>
      <th id="">Status &nbsp;<em class="pi pi-sort-alt"></em></th>
    </tr>
    <br>

    <!-- Dummy Data -->
    <tr>
      <td>&nbsp;&nbsp;&nbsp;&nbsp; 1</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp; 123411</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp; Tablet</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp; 800</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp; Submitted</td>
    </tr>
    <br>
    <tr>
      <td>&nbsp;&nbsp;&nbsp;&nbsp; 2</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp; 102020</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp; Bottle</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp; 600</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp; Submitted</td>
    </tr>
    <br>
    <tr>
      <td>&nbsp;&nbsp;&nbsp;&nbsp; 3</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp; 203040</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp; Syringe</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp; 300</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp; Submitted</td>
    </tr>
  </ng-template>
</p-table>

<h4>DO Number: DO_ANCOL_001,ANCOL TERANG METAL PRINTING INDUSTRY, PT</h4>
<p-table responsiveLayout="scroll"
  [style]="{'margin': '2em 0 3em 0', 'padding': '0 0 1em 0', 'background-color': 'white'}">
  <ng-template pTemplate="header">
    <tr>
      <th id="">Line &nbsp;<em class="pi pi-sort-alt"></em></th>
      <th id="">Item Number &nbsp;<em class="pi pi-sort-alt"></em></th>
      <th id="">Item Description &nbsp;<em class="pi pi-sort-alt"></em></th>
      <th id="">Quantity &nbsp;<em class="pi pi-sort-alt"></em></th>
      <th id="">Status &nbsp;<em class="pi pi-sort-alt"></em></th>
    </tr>
    <br>
    <tr>
      <td>&nbsp;&nbsp;&nbsp;&nbsp; 2</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp; 102020</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp; Bottle</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp; 600</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp; Submitted</td>
    </tr>
  </ng-template>
</p-table>
