<div class="wrapper" >
    <p-panel showHeader class="p-text-center">
        <h1 class="blue-background">GUIDE</h1>
        <span style="font-weight: 700;font-size: 15px;">
            Segala problem atau request di IFocus mohon dilaporkan aplikasi iTops.<br/>
            iTops bisa dibuka dengan membuka http://it138.dexagroup.com dari komputer/Thinclient atau 
            dari Mobile/Android (Download dari Play Store aplikasi: Ican Dexan)<br/><br/>
            Username iTops sama seperti username portal,<br/>
            Contoh:<br/>            
            Username: budiman@dexa-medica.com<br/><br/>
            1. Kendala/ Problem/ Error<br/>
            Contoh: Data Sales tidak muncul. Data Keg B tidak muncul.<br/>
            Pilih Create New Request >> Core System Support >> IFocus >> 000. Laporan Gangguan atau Masalah<br/><br/>
            2. Request<br/>
            Contoh: Request Reset Password<br/>
            Pilih Create New Request >> Core System Support >> Focus >> Permintaan - Reset Password<br/><br/>
            Jika ada pertanyaan yang lain, silahkan email ke IFocus.support@dexagroup.com
        </span>
    </p-panel>
</div>