<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<p-messages></p-messages>

<div  style="padding-left: 10px;padding-right: 10px;">
    <p-card > 
        <div style="background-color: #0C58D3; color: white;" >
            <div class="p-d-flex" > 
                <div class="p-mr-2 p-mb-2" style="margin-top: 5px; margin-left: 10px; ">   
                    Cut Off Costumer Outlet Panel
                 </div>
            </div>
        </div>
        <div class="p-d-flex p-jc-right" style="margin-top: 13px;">
            <div class="p-mr-2 p-mb-2">Area</div>
            <div class="p-mr-2 p-mb-2">
                <p-dropdown id="area"  [options]="areaLineList" optionLabel="name" placeholder="- Select -" 
                    [(ngModel)]="areaLineSelected" style="padding-left: 50px;padding-right: 10px;" 
                    styleClass="my-dropdown">
                </p-dropdown> 
            </div>

            <div class="p-mr-2 p-mb-2">Line</div>
            <div class="p-mr-2 p-mb-2">
                <p-dropdown id="area"  [options]="areaLineList" optionLabel="name" placeholder="- Select -" 
                    [(ngModel)]="areaLineSelected" style="padding-left: 10px;padding-right: 10px;" 
                    styleClass="my-dropdown">
                </p-dropdown> 
            </div>
        </div>

        <div class="p-d-flex p-jc-right" style="margin-top: 13px;">
            <div class="p-mr-2 p-mb-2">Channel </div>
            <div class="p-mr-2 p-mb-2" style="margin-left: 16px; min-width: 200px;">
                <p-dropdown id="channel"  [options]="chanelList" optionLabel="name" placeholder="- Select -" 
                    [(ngModel)]="channelselected" style="padding-left: 15px;padding-right: 10px;" 
                    styleClass="my-dropdown">
                </p-dropdown>
            </div>
        </div>

        <div class="p-d-flex p-jc-right" style="margin-top: 13px;">
            <div class="p-mr-2 p-mb-2">Customer </div>
            <div class="p-mr-2 p-mb-2" style="margin-left: 20px; min-width: 400px;">
                <input class="p-mt-8" name="description" formControlName="description" id="description" type="text" pInputText required>
            </div>
        </div>

        <div>
            <div style="margin-left: 255px;">
                <button pButton pRipple type="button" (click)="btnSearch()" label="Search" class="p-button-primary p-mr-2 p-mb-2"></button>
                <button pButton pRipple type="button" (click)="btnCutOff()" label="Cutt Off" class="p-button-success p-mr-2 p-mb-2"></button>
            </div>
        </div>
    </p-card>

    <div style="margin-top: 20px;">
        <p-table styleClass="p-datatable-gridlines" [value]="customerOutletList" [paginator]="true" [rows]="5" [lazy]="true"
        [selection]="selectedCustomersOutlet" (selectionChange)="onSelectionChangeOutlet($event)" (selectAllChange)="onSelectAllChangeOutlet($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th>Outlet Id</th>
                    <th>Outlet Name</th>
                    <th>Address</th>
                    <th>Area</th>
                    <th>Channel</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customerOutletList>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="customerOutletList"></p-tableCheckbox>
                    </td>
                    <td>{{customerOutletList.outletId}}</td>
                    <td>{{customerOutletList.outletName}}</td>
                    <td>{{customerOutletList.address}}</td>
                    <td>{{customerOutletList.area}}</td>
                    <td>{{customerOutletList.channel}}</td>
                    <td>{{customerOutletList.startDate}}</td>
                    <td>{{customerOutletList.endDate}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

