<style>
    body {
      background: #007dc5
    }
  
    .wrapper {
      position: absolute;
      top: 40%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%)
    }
  
    .p-messages {
      max-width: 360px;
    }
  
    a {
        text-decoration: none;
    }
  
  </style>
  <div class="wrapper">
    <p-card header="Select Company" subheader="" [style]="{width: '360px','padding':'1em 1em 1em 1em'}" styleClass="p-card-shadow">
      <ng-template pTemplate="header">
          <div class="p-text-center"><img alt="Card" src="assets/logos/logospbdexa.png" [style]="{width: '250px!important'}"></div>
      </ng-template>
      <p-dropdown placeholder="Select Company" optionLabel="name" [options]="companies" [(ngModel)]="selectedCompany"
        [style]="{'width':'300px','height':'32px'}"></p-dropdown>
      <ng-template pTemplate="footer">
        <div class="p-grid">
          <div class="p-col-3"></div>
          <div class="p-col-3">
            <a href="#/auth/login"><button pButton class="p-button-warning" label="Logout"></button></a>
          </div>
          <div class="p-col-6">
              <a href="#/mgm/home/notification"><button pButton label="Go To Dashboard"></button></a>
          </div>
        </div>
      </ng-template>
    </p-card>
  </div>
  