<p-breadcrumb [model]="breadcrumbs" [home]="home"></p-breadcrumb>

<div class="wrapperinside">
    <p-messages></p-messages>
    <form (ngSubmit)="onSubmit()" [formGroup]="groupForm" *ngIf="this.groupForm" style="padding: 2px;">
        <div style="height: 20px;"></div>
        <p-card class="p-my-2">
            <div class=" p-fluid">
                <div class="p-grid">
                    <div class="p-col">
                        <div class="box" *ngIf="!isEdit">
                            <label for="operatingunit" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">User Finance</label>
                            <div style="height: 8px;"></div>
                            <!-- <p-selectButton id="isactive" [options]="stateOptions" formControlName="isactive"
                                optionLabel="label" optionValue="value"></p-selectButton> -->
                                <p-dropdown id="isactive" [options]="stateOptions" formControlName="isactive" optionLabel="label" optionValue="value"></p-dropdown>
                        </div><div style="height: 15px;"></div>
                        <div class="box" *ngIf="!isEdit">
                            <label for="operatingunit" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Cost Center</label>
                            <div style="height: 8px;"></div>
                            <!-- <p-selectButton id="isactive" [options]="stateOptions" formControlName="isactive"
                                optionLabel="label" optionValue="value"></p-selectButton> -->
                                <p-dropdown id="isactive" [options]="stateOptions" formControlName="isactive" optionLabel="label" optionValue="value"></p-dropdown>
                        </div>
                        <div style="height: 15px;"></div>
                        <div class="box">
                            <label for="description" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Vendor
                                :</label>
                            <input class="p-mt-2" name="description" formControlName="description" id="description" type="text"
                                pInputText required>
                            <div class="p-field" *ngIf="submitted && f.description.errors">
                                <span style="color: red;" *ngIf="f.description.errors.required">Vendor is
                                    required</span>
                            </div>
                        </div><div style="height: 15px;"></div>
                        <div class="box">
                            <label for="description" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Start Date
                                :</label>
                            <input class="p-mt-2" name="description" formControlName="description" id="description" type="text"
                                pInputText required>
                            <div class="p-field" *ngIf="submitted && f.description.errors">
                                <span style="color: red;" *ngIf="f.description.errors.required">Start Date is
                                    required</span>
                            </div>
                        </div><div style="height: 15px;"></div>
                        <div class="box">
                            <label for="description" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">End Date
                                :</label>
                            <input class="p-mt-2" name="description" formControlName="description" id="description" type="text"
                                pInputText required>
                            <div class="p-field" *ngIf="submitted && f.description.errors">
                                <span style="color: red;" *ngIf="f.description.errors.required">End Date is
                                    required</span>
                            </div>
                        </div><div style="height: 15px;"></div>
                    </div>
                </div>
            </div>
        </p-card>
        <div class="p-field p-col p-mt-5">
            <div class="p-formgrid p-grid" style="text-align: right;">
                <div class="p-field p-col">
                    <button pButton pRipple type="submit" label="Save" class="p-button-success" icon="pi pi-angle-right"
                        iconPos="right"></button>
                </div>
            </div>
        </div>
    </form>
</div>