<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<p-progressSpinner *ngIf="userlist.length == 0" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages>
<div *ngIf="userlist.length > 0" style="padding-left: 10px;padding-right: 10px;">
    <app-tablehelper [records]="userlist" [header]="usrheader" [wsearch]=true [actionbtn]="usractionbtn"
        [colnames]="usrcolname" [colwidth]="usrcolwidth" [colclasshalign]="usrcolhalign" [addbtnlink]="usraddbtn"
         (datadeleted)="deleteConfirmation($event)" (datapreview)="viewData($event)" (dataapprover)="approvalData($event)" [scrollheight]="scrollheight" [nopaging]=true [items]="items" [actionbtnstatus]=false [item]=true></app-tablehelper>
</div>
