<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>

<body>

  <div id="wrapper">
    <div id="contentliquid">
      <div id="content">
        <p-toolbar styleClass="p-toolbar-bb">
          <div class="p-toolbar-group-left" style="padding-left: 10px;">
            <!-- <h2 style="margin: 0px;padding: 1px 0 1px 0; font-weight: 400;"> {{companytitle}}</h2> -->
          </div>
          <div class="p-toolbar-group-right" style="padding-top: 5px;">
            <p-badge [value]="2" ></p-badge>
            <button pButton pRipple type="button" badge="8" icon="pi pi-bell" class="p-button-rounded p-button-warning p-button-text"></button>
            <p-menubar [model]="items"></p-menubar>
          </div>
        </p-toolbar>
        <router-outlet></router-outlet>
      </div>
    </div>
    <div id="leftcolumn" class="full-height">
      <p-toolbar>
        <div class="p-pt-15 p-pb-15 forcecenter">
          <img src="assets/logos/iFOCUS.png" height="59.5" style="padding-left: 5px;">
        </div>
      </p-toolbar>
      <div>
        <div style="padding-left: 15px;">
          <span style="font-size: 11px;">Welcome,</span>&nbsp; <span style="font-weight: 700;font-size: 11px;">{{username}}</span>
        </div>
        <div style="height: 20px;"></div>
        <p-panelMenu [model]="sidemenus" [style]="{'width':'229px'}"></p-panelMenu>
      </div>
    </div>
  </div>
  <p-dialog header="Sign Out" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000" [draggable]="false"
    [resizable]="false">
    <p style="font-size: 18;">Sign out from application?, if yes you should log in again from the beginning</p>
    <ng-template pTemplate="footer">
      <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
      <p-button (click)="signOut()" label="Yes" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-dialog>
  <p-dialog header="Password will be expired" [(visible)]="changePasswordDisplay" [style]="{width: '50vw'}"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <p style="font-size: 18;">{{passwordMessage}}</p>
    <ng-template pTemplate="footer">
      <p-button (click)="changePasswordDisplay=false" label="Later" styleClass="p-button-text"></p-button>
      <p-button (click)="toProfile();changePasswordDisplay=false" label="Now" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-dialog>
</body>

</html>