
<!--  -->
<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>

<p-progressSpinner *ngIf="groupsData.length == 0" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages>
<div *ngIf="groupsData.length > 0" style="padding-left: 10px;padding-right: 10px;">
    <app-tablehelper [records] = "groupsData" [header]="grpheader" 
    [wsearch]= true [actionbtn] = "grpactionbtn" 
    [colnames]="grpcolname" 
    [colwidth]="grpcolwidth" [colclasshalign]="grpcolhalign" 
    [addbtnlink]="grpaddbtn" (datadeleted)="deleteConfirmation($event)" (datapreview) ="previewConfirmation($event)" 
    [scrollheight]="scrollheight" (dataapprover)="approvalData($event)" 
    [nopaging]=false 
    [colmark]=1 
    [fieldpipeformat]="grpfieldformat"
    ></app-tablehelper>
    
 </div>
 <p-dialog header="Delete Group" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000"
 [draggable]="false" [resizable]="false">
 <p style="font-size: 18;">Are you sure want to delete this Organization?</p>
 <ng-template pTemplate="footer">
     <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
     <p-button (click)="deleteGroup()" label="Yes" styleClass="p-button-text"></p-button>
 </ng-template>
</p-dialog>

<!-- {"id":"8","groupname":"BIF Operator 1","idtenant":"7","created_byid":"7","created_at":"2021-09-02 01:09:35","updated_at":null,"active":1,"groupcode":null,"idapplication":"7","grouptype":1} -->

<p-dialog header="Preview" [(visible)]="displayPrv" [style]="{width: '20vw'}" [baseZIndex]="10000"
 [draggable]="false" [resizable]="false">
 <!-- <p style="font-size: 18;">{{selectedgrp}}</p> -->
 <div class="p-grid">
    <div class="p-col">
        <div class="box">
            <!-- class="p-col-12 p-mb-2 p-md-2 p-mb-md-0" -->
            <label for="grpname">Group Name 
                :</label>
            <label id="grpname" style="font-weight: 600;">&nbsp;{{selectedgrp.groupname}}</label>
        </div>
        <div class="box">
            <!-- class="p-col-12 p-mb-2 p-md-2 p-mb-md-0" -->
            <label for="createdat">Created at 
                :</label>
            <label id="createdat" style="font-weight: 600;">&nbsp;{{selectedgrp.created_at}}</label>
        </div>
        <div style="height: 10px;"></div>
        <div class="box">
            <!-- class="p-col-12 p-mb-2 p-md-2 p-mb-md-0" -->
            <label id="space" style="font-weight: 600;">Attributes : </label>
        </div>
    </div>
</div>
 <ng-template pTemplate="footer">
     <p-button (click)="displayPrv=false" label="OK" styleClass="p-button-text"></p-button>
 </ng-template>
</p-dialog>
 
<p-dialog header="Approval" [(visible)]="viewApprove" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <div class="p-fluid">
        <div class="p-grid">
            <p class="p-col-12" style="font-size: 18px;">This records need approval from you?, please choose wisely</p>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button (click)="viewApprove=false" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button (click)="approvalSubmit(4)" label="Reject" styleClass="p-button-text"></p-button>
        <p-button (click)="approvalSubmit(1)" label="Approve" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
