/* You can add global styles to this file, and also import other style files */
@import "assets/themes/custom.css";
.product-item {
    display: flex;
    align-items: center;
    padding: .5rem;
    width: 100%;

    img {
        width: 75px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        margin-right: 1rem;
    }

    .product-list-detail {
        flex: 1 1 0;
        width: 38.6667%!important;
    }

    .product-list-action {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .product-category-icon {
        vertical-align: middle;
        margin-right: .5rem;
    }

    .product-category {
        vertical-align: middle;
        line-height: 1;
    }
}
.my-dropdown {
    width: 7.2rem;
}
.long-size {
    width: 15rem;
}
.redButton {
    background-color: red !important;
    color: black !important;
}
.greenButton {
    background-color: green !important;
    color: white !important;
    width: 7.2rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.nova-accent.p-panel {
    .p-panel-titlebar {
        background: #212121;
    }
}

.blue-background {
    background: #2196F3 !important;
}
.p-panel .p-panel-header {
        border: 1px solid #dee2e6;
        padding: 1rem;
        background: #2196F3 !important;
        color: #495057;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
}