<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<p-progressSpinner *ngIf="itemjitlist.length == 0" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages>


<app-tablehelper [records]="itemjitlist" [header]="itemjitheader" [wsearch]=true [actionbtn]="itemjitactionbtn"
        [colnames]="itemjitcolname" [colwidth]="itemjitcolwidth" [colclasshalign]="itemjitcolhalign" [addbtnlink]="itemjitaddbtn"
        [colmark]=2 (datadeleted)="deleteConfirmation($event)" (datapreview)="viewData($event)" [scrollheight]="scrollheight" [nopaging]=true></app-tablehelper>

<p-toast [style]="{marginTop: '80px'}"></p-toast>


<!-- (datadeleted)="deleteConfirmation($event)" -->