<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<div>
    <p-card>
        <div class="p-d-flex">
            <div class="p-mr-2 p-mb-2">
                <h4>
                    PO Number :
                </h4>
            </div>
            <div class="p-mr-2 p-mb-2" style="margin-top: 13px;">
                <input style="width: 300px;" type="text" pInputText class="p-mr-2 p-d-inline" />
            </div>
            <div class="p-mr-2 p-mb-2" style="margin-top: 13px;">
                <button pButton type="button" label="Search Purchase Order"></button>
            </div>
            <div class="p-mr-2 p-mb-2" style="margin-top: 13px;">
                <button pButton type="button" label="Clear"></button>
            </div>
        </div>
    </p-card>
</div>
<div>
    <p-card>
        <div>
            Search Result
        </div>
    <div class="p-d-flex">
        <div class="p-mr-2 p-mb-2" [style]="{'text-align': 'right'}">
            <h4>
                Rev :
            </h4>
        </div>
        <div class="p-mr-2 p-mb-2" style="margin-top: 13px;margin-left: 30px;">
            <input style="width: 300px;" type="text" pInputText class="p-mr-2 p-d-inline" />
        </div>
        <div class="p-mr-2 p-mb-2">
            <h4>
                Order Date :
            </h4>
        </div>
        <div class="p-mr-2 p-mb-2" style="margin-top: 13px;">
            <input style="width: 300px;" type="text" pInputText class="p-mr-2 p-d-inline" />
        </div>
    </div>
    <div class="p-d-flex">
        <div class="p-mr-2 p-mb-2">
            <h4>
                Supplier :
            </h4>
        </div>
        <div class="p-mr-2 p-mb-2" style="margin-top: 13px;">
            <input style="width: 300px;" type="text" pInputText class="p-mr-2 p-d-inline" />
        </div>
        <div class="p-mr-2 p-mb-2">
            <h4>
                Buyer :
            </h4>
        </div>
        <div class="p-mr-2 p-mb-2" style="margin-top: 13px;margin-left: 33px;">
            <input style="width: 300px;" type="text" pInputText class="p-mr-2 p-d-inline" />
        </div>
    </div>
    <div class="p-d-flex">
        <div class="p-mr-2 p-mb-2">
            <h4>
                Ship To :
            </h4>
        </div>
        <div class="p-mr-2 p-mb-2" style="margin-top: 13px;margin-left: 5px;">
            <input style="width: 300px;" type="text" pInputText class="p-mr-2 p-d-inline" />
        </div>
        <div class="p-mr-2 p-mb-2">
            <h4>
                Currency :
            </h4>
        </div>
        <div class="p-mr-2 p-mb-2" style="margin-top: 13px;margin-left: 15px;">
            <input style="width: 300px;" type="text" pInputText class="p-mr-2 p-d-inline" />
        </div>
    </div>
    </p-card>
</div>
<div>
    <p-card>
        <div>
            Attachment Document
        </div>
        <div>
            <h4> Upload File : 
                <input type="file" (change)="handleChange($event)" multiple>
            </h4>
        </div>
    </p-card>
</div>
<div>
    <p-card>
        <div>
            Items
        </div>
    </p-card>
</div>