<!-- <p-breadcrumb [home]="home"></p-breadcrumb> -->
<div style="height: 20px;"></div>
<div class="wrapper">
    <div class="p-grid">
        <div class="p-col-12">
            <div class="box">
                <p-card header="Welcome" styleClass="p-card-shadow p-cst-primary">
                    <div class="p-grid" style="padding-left: 20px;">
                        <div class="p-col-4">
                            <div class="p-grid">
                            <div class="p-col-2 p-rowcust-1">
                                <span>User Id</span>
                            </div>
                            <div class="p-col-1 p-rowcust-1">
                                <span>:</span>
                            </div>
                            <div class="p-col-9 p-rowcust-1">
                                <span>{{userInfo.userid}}</span>
                            </div>
                            <div class="p-col-2 p-rowcust-1">
                                <span>Fullname</span>
                            </div>
                            <div class="p-col-1 p-rowcust-1">
                                <span>:</span>
                            </div>
                            <div class="p-col-9 p-rowcust-1">
                                <span>{{userInfo.fullname}}</span>
                            </div>
                            <div class="p-col-2 p-rowcust-1">
                                <span>Application</span>
                            </div>
                            <div class="p-col-1 p-rowcust-1">
                                <span>:</span>
                            </div>
                            <div class="p-col-9 p-rowcust-1">
                                <span>{{app.applabel}}</span>
                            </div>
                            </div>
                        </div>
                        <div class="p-col-1"><p-divider layout="vertical"></p-divider></div>
                        <div class="p-col-7">
                            <div class="p-grid">
                                <div class="p-col-2 p-rowcust-1">
                                    <i class="pi pi-sliders-h p-pt-10" style="font-size: 3.5rem!important">
                                    </i>
                                </div>
                                <div class="p-col-10 p-rowcust-1">
                                    <span style="font-size: 3.5rem!important; padding-top: 15px;">KOMI MANAGER</span>
                                </div>
                            </div>
                        </div>



                        
                    </div>
                </p-card> 
            </div>
        </div>
    </div>  
</div>
