<!-- <p-table *ngIf="nopaging" #dt [value]="records" dataKey="id" [rows]="5" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10,25,50]" styleClass="p-datatable-customs p-datatable-gridlines" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [globalFilterFields]="colnames"
    responsiveLayout="scroll" [columns]="selectedColumns">
    <ng-template pTemplate="caption">
        <div class="p-d-flex  p-jc-between">
    
            <button *ngIf="actionbtn[0] == 1" pButton pRipple type="button" icon="pi pi-plus-circle"
                [routerLink]="addbtnlink.route" label="{{addbtnlink.label}}" class="p-btn" id="helper-button"
                pTooltip="Add record"></button>
            <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" selectedItemsLabel="{0} Columns Selected"
                optionLabel="header" placeholder="Choose Columns">
            </p-multiSelect>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <ng-container *ngFor="let col of columns">
                <ng-container *ngIf="col.isOrder==false">
                    <th class="p-text-center" style="vertical-align: middle;">
                        {{col}}
                    </th>
                </ng-container>
                <ng-container *ngIf="col.isOrder==true">
                    <th class="p-text-center" style="vertical-align: middle;" pSortableColumn="{{col.field}}">
                        {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                    </th>
                </ng-container>
            </ng-container>
            <th rowspan="2" style="vertical-align : middle;text-align:center;">Action</th>
        </tr>
        <tr>
            <th *ngFor="let col of header" style="vertical-align: middle; text-align:center;">
                <ng-template [ngIf]="!col.transform">
                    <p-columnFilter type="text" field="{{col.sort}}" [showMenu]="false"
                        (input)="dt.filter($event.target.value, col.sort, 'contains')"></p-columnFilter>
                </ng-template>
                <ng-template [ngIf]="col.transform">
                    <p-columnFilter field="status" [showMenu]="false">
                        <ng-template pTemplate="filter">
                            <p-dropdown appendTo="body" id="status" [options]="status" optionValue="value"
                                (onChange)="dt.filter($event.value, col.sort, 'contains')" placeholder="Any"
                                [showClear]="true">
                                <ng-template let-option pTemplate="item">
                                    <span [class]="'status-badge status-' + option.value">{{option.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </ng-template>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-record let-columns="columns">
        <tr>
            <td *ngFor="let data of columns; index as j;" class="vertAlignCenter " [class]="colclasshalign[j]">
                <ng-template [ngIf]="j!=collink&&j!=colmark">
                    {{record[data.field]}}
                </ng-template>

                <ng-template [ngIf]="j==collink">
                    <a href="#">{{collinkaction.label}}</a>
                </ng-template>

                <ng-template [ngIf]="j==colmark">
                    <i class="pi pi-check-circle" *ngIf="record[data.field] === 1" style="color: green;"></i>
                    <i class="pi pi-times-circle" *ngIf="record[data.field] === 0" style="color: red;"></i>
                </ng-template>
            </td>
            
            <td class="p-text-center" *ngIf="isActionBtn">
                <button *ngIf="actionbtn[4] == 1" (click)="previewConfirmation(record)" pButton pRipple type="button"
                    icon="pi pi-search" class="p-button-rounded p-button-text cstnoheader"></button>
                <button *ngIf="actionbtn[2] == 1" pButton pRipple type="button" icon="pi pi-pencil"
                    [routerLink]="[addbtnlink.route+'#/'+record.id]"
                    class="p-button-rounded p-button-text cstnoheader"></button>
                <button *ngIf="actionbtn[3] == 1" pButton pRipple type="button" icon="pi pi-times"
                    (click)="deleteConfirmation(record)" style="color: red;"
                    class="p-button-rounded p-button-secondary p-button-text cstnoheader"></button>
            </td>
        </tr>
    </ng-template>

</p-table> -->

<p-table  *ngIf="wapproval" [value]="records" #dt dataKey="id" [scrollable]="true"  scrollHeight="400px" scrollDirection="both" styleClass="p-datatable p-datatable-gridlines" responsiveLayout="scroll" [(selection)]="selectedRows" [globalFilterFields]="colnames">
    <ng-template pTemplate="caption">
        <div class="p-d-flex  p-jc-between">
            <!-- adddropbutton -->
            <div class="p-d-flex p-flex-column p-flex-md-row">
                <div class="p-mr-2">
                    <p-button  *ngIf="!dropbtn&&!multiaction&&actionbtn[0] == 1" label="Add data" icon="pi pi-plus-circle" styleClass="p-button-sm p-button p-primary-btn" [routerLink]="addbtnlink.route" label="{{addbtnlink.label}}"  pTooltip="Add record"></p-button>

                    <p-splitButton  *ngIf="multiaction&&actionbtn[0] == 1" label="{{addbtnlink.label}}"  pTooltip="Add record" (click)="addbyfunction()" icon="pi pi-plus-circle" [model]="bulkmenus" ></p-splitButton>

                    <p-splitButton  *ngIf="dropbtn&&actionbtn[0] == 1" label="{{addbtnlink.label}}" pTooltip="Add Record" (onClick)="addbyfunction()" [model]="dropmenus" ></p-splitButton>
                </div>
                <!-- <div class="p-mr-2">
                    <button pButton pRipple type="button" icon="pi pi-cog" class="p-button-rounded p-button-text" style="height: 1.757rem!important;color: #fd7c42!important;" (click)="previewfields()"></button>
                </div> -->
                <div class="p-mr-2">
                </div>
            </div>
            <span class="p-input-icon-right">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem" *ngIf="multiaction">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <ng-container *ngFor="let col of cols; index as j;">
                <ng-container  *ngIf="col.isOrder==false">
                    <th class="p-text-center" style="vertical-align: middle;" [style]="colwidth[j]" >
                        {{col.header}}
                    </th>
                </ng-container>
                <ng-container *ngIf="col.isOrder==true">
                    <th class="p-text-center" style="vertical-align: middle;" pSortableColumn="{{col.field}}" [style]="colwidth[j]">
                        {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                    </th>
                </ng-container>
            </ng-container>
            <th *ngIf="isActionBtn" style="vertical-align : middle;text-align:center;width:200px">Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-record>
        <tr>  
            <td style="width: 3rem" *ngIf="multiaction">
                <p-tableCheckbox [value]="record"></p-tableCheckbox>
            </td>
            <ng-container *ngFor="let col of cols; index as j;">
                <ng-container>
                    <!-- {{fieldpipeformat.length > 0 ? true:false}} -->
                    <ng-container *ngIf="fieldpipeformat.length <= 0 ? true:false">
                        <td *ngIf="j!=colmark" style="vertical-align: middle;" [class]="colclasshalign[j]" [style]="colwidth[j]">
                            {{record[col.field]}}
                        </td>
                    </ng-container>
                    <ng-container *ngIf="fieldpipeformat.length > 0 ? true:false">
                        <!-- {{fieldpipeformat[j].code == null}} -->
                        <td *ngIf="j!=colmark&&fieldpipeformat[j].code == null" style="vertical-align: middle;" [class]="colclasshalign[j]" [style]="colwidth[j]">
                            {{record[col.field]}}
                        </td>
                        <td *ngIf="j!=colmark&&fieldpipeformat[j].code == 'D'" style="vertical-align: middle;" [class]="colclasshalign[j]" [style]="colwidth[j]">
                            {{record[col.field]}}
                        </td>
                    </ng-container>


                    

                    <td *ngIf="j==colmark" style="vertical-align: middle;" [class]="colclasshalign[j]" [style]="colwidth[j]">
                        <!-- <i class="pi pi-check-circle" *ngIf="record[col.field] === 1" style="color: green;"></i>
                        <i class="pi pi-times-circle" *ngIf="record[col.field] === 0" style="color: red;"></i> -->
                        <i class="pi pi-check-circle" *ngIf="record[col.field] === 1" pTooltip="Activated"
                        style="color: green;"></i>
                    <i class="pi pi-times-circle" *ngIf="record[col.field] === 0" pTooltip="Deactivated"
                        style="color: red;"></i>
                    <i class="pi pi-clock" *ngIf="record[col.field] === 3" style="color: orange;"
                        pTooltip="Add Data Approval"></i>
                    <i class="pi pi-clock" *ngIf=" [5,7].indexOf(record[col.field]) > -1" style="color: orange;"
                        pTooltip="Update Data Approval"></i>
                    <i class="pi pi-clock" *ngIf="record[col.field] === 9" style="color: orange;"
                        pTooltip="Delete Data Approval"></i>
                    </td>
                </ng-container>
            </ng-container>
            <td class="p-text-center" *ngIf="isActionBtn" style="width:200px">
                <!-- <button *ngIf="actionbtn[4] == 1" (click)="previewConfirmation(record)" pButton pRipple type="button"
                    icon="pi pi-search" class="p-button-rounded p-button-text cstnoheader"></button>
                <button *ngIf="actionbtn[2] == 1" pButton pRipple type="button" icon="pi pi-pencil"
                    [routerLink]="[addbtnlink.route+'#/'+record.id]"
                    class="p-button-rounded p-button-text cstnoheader"></button>
                <button *ngIf="actionbtn[3] == 1" pButton pRipple type="button" icon="pi pi-times"
                    (click)="deleteConfirmation(record)" style="color: red;"
                    class="p-button-rounded p-button-secondary p-button-text cstnoheader"></button> -->
                    <button *ngIf="actionbtn[4] == 1 && [3,5,7,9].indexOf(record['active']) == -1"
                    (click)="previewConfirmation(record)" pButton pRipple type="button" icon="pi pi-search"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="View detail"></button>
                <button *ngIf="actionbtn[2] == 1 &&  [3,5,7,9].indexOf(record['active']) == -1" pButton pRipple
                    type="button" icon="pi pi-pencil" [routerLink]="[addbtnlink.route+'#/'+record.id]"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="Edit record" style="color: blue!important;"></button>
                <button *ngIf="actionbtn[3] == 1 &&  [3,5,7,9].indexOf(record['active']) == -1" pButton pRipple
                    type="button" icon="pi pi-times" (click)="deleteConfirmation(record)" style="color: red!important;;"
                    class="p-button-rounded p-button-secondary p-button-text cstnoheader"
                    pTooltip="Delete record"></button>






                <button *ngIf="actionbtn[5] == 1 && record['active'] === 3" (click)="approveConfirmation(record)"
                    pButton pRipple type="button" icon="pi pi-check-circle"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="Add data Approval"
                    tooltipPosition="left"></button>
                <button *ngIf="actionbtn[5] == 1 && record['active'] === 5" (click)="approveConfirmation(record)"
                    pButton pRipple type="button" icon="pi pi-check-circle"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="Edit data Approval"
                    tooltipPosition="left"></button>
                <button *ngIf="actionbtn[5] == 1 && record['active'] === 7" (click)="approveConfirmation(record)"
                    pButton pRipple type="button" icon="pi pi-check-circle"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="Edit data Approval"
                    tooltipPosition="left"></button>
                <button *ngIf="actionbtn[5] == 1 && record['active'] === 9" (click)="approveConfirmation(record)"
                    pButton pRipple type="button" icon="pi pi-check-circle"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="Delete data Approval"
                    tooltipPosition="left"></button>
            </td>
        </tr>
    </ng-template>
</p-table>


<p-table  *ngIf="!wapproval" [value]="records" #dt dataKey="id" [scrollable]="true"  scrollHeight="400px" scrollDirection="both" styleClass="p-datatable p-datatable-gridlines" responsiveLayout="scroll" [(selection)]="selectedRows" [globalFilterFields]="colnames">
    <ng-template pTemplate="caption" *ngIf="actionbtn[0] == 1">
        <div class="p-d-flex  p-jc-between">
            <div class="p-d-flex p-flex-column p-flex-md-row">
                <!-- <div class="p-mr-2">
                    <p-button  *ngIf="!multiaction" label="Add data" icon="pi pi-plus-circle" styleClass="p-button-sm p-button p-primary-btn" [routerLink]="addbtnlink.route" label="{{addbtnlink.label}}"  pTooltip="Add record"></p-button>
                    <p-splitButton  *ngIf="multiaction" label="{{addbtnlink.label}}" style="background: black!important;" pTooltip="Add record" (click)="addbyfunction()" icon="pi pi-plus-circle" [model]="bulkmenus" ></p-splitButton>
                </div> -->
                <div class="p-mr-2">
                    <p-button  *ngIf="!dropbtn&&!multiaction&&actionbtn[0] == 1" label="Add data" icon="pi pi-plus-circle" styleClass="p-button-sm p-button p-primary-btn" [routerLink]="addbtnlink.route" label="{{addbtnlink.label}}"  pTooltip="Add record"></p-button>

                    <p-splitButton  *ngIf="multiaction&&actionbtn[0] == 1" label="{{addbtnlink.label}}"  pTooltip="Add record" (click)="addbyfunction()" icon="pi pi-plus-circle" [model]="bulkmenus" ></p-splitButton>

                    <p-splitButton  *ngIf="dropbtn&&actionbtn[0] == 1" label="{{addbtnlink.label}}" pTooltip="Add Record" (onClick)="addbyfunction()" [model]="dropmenus" ></p-splitButton>
                </div>
                <!-- <div class="p-mr-2">
                    <button pButton pRipple type="button" icon="pi pi-cog" class="p-button-rounded p-button-text" style="height: 1.757rem!important;color: #fd7c42!important;" (click)="previewfields()"></button>
                </div> -->
                <div class="p-mr-2">
                </div>
            </div>
            <span class="p-input-icon-right" *ngIf="wsearch">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem" *ngIf="multiaction">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <ng-container *ngFor="let col of cols; index as j;">
                <ng-container  *ngIf="col.isOrder==false">
                    <th class="p-text-center" style="vertical-align: middle;" [style]="colwidth[j]" >
                        {{col.header}}
                    </th>
                </ng-container>
                <ng-container *ngIf="col.isOrder==true">
                    <th class="p-text-center" style="vertical-align: middle;" pSortableColumn="{{col.field}}" [style]="colwidth[j]">
                        {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                    </th>
                </ng-container>
            </ng-container>
            <th *ngIf="isActionBtn||wactionbtn" style="vertical-align : middle;text-align:center;width:200px">Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-record>
        <tr>  
            <td style="width: 3rem" *ngIf="multiaction">
                <p-tableCheckbox [value]="record"></p-tableCheckbox>
            </td>
            <ng-container *ngFor="let col of cols; index as j;">
                <ng-container>
                    <!-- <td *ngIf="j!=colmark" style="vertical-align: middle;" [class]="colclasshalign[j]" [style]="colwidth[j]">
                        {{record[col.field]}}
                    </td> -->
                    <ng-container *ngIf="fieldpipeformat.length <= 0 ? true:false">
                        <td *ngIf="j!=colmark" style="vertical-align: middle;" [class]="colclasshalign[j]" [style]="colwidth[j]">
                            {{record[col.field]}} - {{colmark}}
                        </td>
                    </ng-container>
                    <ng-container *ngIf="fieldpipeformat.length > 0 ? true:false">
                        <!-- {{fieldpipeformat[j].code == null}} -->
                        <td *ngIf="j!=colmark&&j!=colbadge&&fieldpipeformat[j].code == null" style="vertical-align: middle;" [class]="colclasshalign[j]" [style]="colwidth[j]">
                            {{record[col.field]}}
                        </td>
                        <td *ngIf="j!=colmark&&fieldpipeformat[j].code == 'D'" style="vertical-align: middle;" [class]="colclasshalign[j]" [style]="colwidth[j]">
                            {{record[col.field] | date:fieldpipeformat[j].format}}
                        </td>
                    </ng-container>
                    <td *ngIf="j==colmark" style="vertical-align: middle;" [class]="colclasshalign[j]" [style]="colwidth[j]">
                        <i class="pi pi-check-circle" *ngIf="record[col.field] === 1" style="color: green!important;"></i>
                        <i class="pi pi-times-circle" *ngIf="record[col.field] === 0" style="color: red!important;"></i>
                    </td>
                    <td *ngIf="j==colbadge" style="vertical-align: middle;" [class]="colclasshalign[j]" [style]="colwidth[j]">
                        <!-- <i class="pi pi-check-circle" *ngIf="record[col.field] === 1" style="color: green!important;"></i>
                        <i class="pi pi-times-circle" *ngIf="record[col.field] === 0" style="color: red!important;"></i> -->
                        <p-tag value="open" *ngIf="record[col.field] === 0" severity="warning" [rounded]="true"></p-tag>
                        <p-tag value="done" *ngIf="record[col.field] === 1" severity="success" [rounded]="true"></p-tag>
                    </td>
                    
                </ng-container>
            </ng-container>
            <td class="p-text-center" *ngIf="isActionBtn||wactionbtn" style="width:200px">
                <button *ngIf="actionbtn[4] == 1" (click)="previewConfirmation(record)" pButton pRipple type="button"
                    icon="pi pi-search" class="p-button-rounded p-button-text cstnoheader"></button>
                <button *ngIf="actionbtn[2] == 1" pButton pRipple type="button" icon="pi pi-pencil"
                    [routerLink]="[addbtnlink.route+'#/'+record.id]"
                    class="p-button-rounded p-button-text cstnoheader"></button>
                <button *ngIf="actionbtn[3] == 1" pButton pRipple type="button" icon="pi pi-times"
                    (click)="deleteConfirmation(record)" style="color: red;"
                    class="p-button-rounded p-button-secondary p-button-text cstnoheader"></button>
                    <!-- <button *ngIf="actionbtn[4] == 1 && [3,5,7,9].indexOf(record['active']) == -1"
                    (click)="previewConfirmation(record)" pButton pRipple type="button" icon="pi pi-search"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="View detail"></button>
                <button *ngIf="actionbtn[2] == 1 &&  [3,5,7,9].indexOf(record['active']) == -1" pButton pRipple
                    type="button" icon="pi pi-pencil" [routerLink]="[addbtnlink.route+'#/'+record.id]"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="Edit record"></button>
                <button *ngIf="actionbtn[3] == 1 &&  [3,5,7,9].indexOf(record['active']) == -1" pButton pRipple
                    type="button" icon="pi pi-times" (click)="deleteConfirmation(record)" style="color: red;"
                    class="p-button-rounded p-button-secondary p-button-text cstnoheader"
                    pTooltip="Delete record"></button>






                <button *ngIf="actionbtn[5] == 1 && record['active'] === 3" (click)="approveConfirmation(record)"
                    pButton pRipple type="button" icon="pi pi-check-circle"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="Add data Approval"
                    tooltipPosition="left"></button>
                <button *ngIf="actionbtn[5] == 1 && record['active'] === 5" (click)="approveConfirmation(record)"
                    pButton pRipple type="button" icon="pi pi-check-circle"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="Edit data Approval"
                    tooltipPosition="left"></button>
                <button *ngIf="actionbtn[5] == 1 && record['active'] === 7" (click)="approveConfirmation(record)"
                    pButton pRipple type="button" icon="pi pi-check-circle"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="Edit data Approval"
                    tooltipPosition="left"></button>
                <button *ngIf="actionbtn[5] == 1 && record['active'] === 9" (click)="approveConfirmation(record)"
                    pButton pRipple type="button" icon="pi pi-check-circle"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="Delete data Approval"
                    tooltipPosition="left"></button> -->
            </td>
        </tr>
    </ng-template>
</p-table>






<p-dialog header="Columns" [(visible)]="displayModal" [modal]="true" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <p-listbox [options]="cols" [(ngModel)]="selectedColumns" 
        optionLabel="header" 
        optionValue="field" 
        [metaKeySelection]="false" 
        [checkbox]="true" 
        [multiple]="true" ></p-listbox>
        <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="submitFields()" label="Save and apply" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-times" (click)="displayModal=false" label="Cancel" styleClass="p-button-text p-button-danger"></p-button>
        </ng-template>
</p-dialog>

<!-- <p-table *ngIf="!nopaging" #dt [value]="records" dataKey="id" [rows]="5" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10,25,50]" styleClass="p-datatable-customs p-datatable-gridlines" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [globalFilterFields]="colnames"
    responsiveLayout="scroll"> -->

<!-- <p-table #dt *ngIf="!nopaging" [value]="records" [scrollable]="true" [columns]="selectedColumns"
    styleClass="p-datatable">
    <ng-template pTemplate="caption">
        <div class="p-d-flex p-jc-between">
            <button *ngIf="actionbtn[0] == 1" pButton pRipple type="button" icon="pi pi-plus-circle"
                [routerLink]="addbtnlink.route" label="{{addbtnlink.label}}" class="p-btn" id="helper-button"
                pTooltip="Add record"></button>
            <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" selectedItemsLabel="{0} Columns Selected"
                optionLabel="header" placeholder="Choose Columns">
            </p-multiSelect>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <ng-container *ngFor="let col of columns">
                <ng-container *ngIf="col.isOrder==false">
                    <th class="p-text-center" style="vertical-align: middle;">
                        {{col}}
                    </th>
                </ng-container>
                <ng-container *ngIf="col.isOrder==true">
                    <th class="p-text-center" style="vertical-align: middle;" pSortableColumn="{{col.field}}">
                        {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                    </th>
                </ng-container>
            </ng-container>
            <th rowspan="2" style="vertical-align : middle;text-align:center;">Action</th>
        </tr>
        <tr>
            <th *ngFor="let col of columns" style="vertical-align: middle; text-align:center;">
                <ng-template [ngIf]="!col.transform">
                    <p-columnFilter type="text" field="{{col.sort}}" [showMenu]="false"
                        (input)="dt.filter($event.target.value, col.sort, 'contains')"></p-columnFilter>
                </ng-template>
                <ng-template [ngIf]="col.transform">
                    <p-columnFilter field="status" [showMenu]="false">
                        <ng-template pTemplate="filter">
                            <p-dropdown appendTo="body" id="status" [options]="status" optionValue="value"
                                (onChange)="dt.filter($event.value, col.sort, 'contains')" placeholder="Any"
                                [showClear]="true">
                                <ng-template let-option pTemplate="item">
                                    <span [class]="'status-badge status-' + option.value">{{option.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </ng-template>
            </th>
        </tr>
    </ng-template>
    <ng-template *ngIf="actionbtn[1] == 1" pTemplate="body" let-record let-columns="columns">
        <tr>
            <td *ngFor="let col of columns; index as j;" class="vertAlignCenter "
                style="vertical-align : middle;text-align:center;">
                <ng-template [ngIf]="j==collink">
                    <a href="#">{{collinkaction.label}}</a>
                </ng-template>
                <ng-template [ngIf]="col.field==colmark">

                    <i class="pi pi-check-circle" *ngIf="record[col.field] === 1" pTooltip="Activated"
                        style="color: green;"></i>
                    <i class="pi pi-times-circle" *ngIf="record[col.field] === 0" pTooltip="Deactivated"
                        style="color: red;"></i>
                    <i class="pi pi-clock" *ngIf="record[col.field] === 3" style="color: orange;"
                        pTooltip="Add Data Approval"></i>
                    <i class="pi pi-clock" *ngIf=" [5,7].indexOf(record[col.field]) > -1" style="color: orange;"
                        pTooltip="Update Data Approval"></i>
                    <i class="pi pi-clock" *ngIf="record[col.field] === 9" style="color: orange;"
                        pTooltip="Delete Data Approval"></i>
                </ng-template>
                <ng-template [ngIf]="j!=collink&&col.field!=colmark">

                    {{record[col.field]}}
                </ng-template>
            </td>
          
            <td class="p-text-center" *ngIf="isActionBtn" [style]="{}">

               


                <button *ngIf="actionbtn[4] == 1 && [3,5,7,9].indexOf(record['active']) == -1"
                    (click)="previewConfirmation(record)" pButton pRipple type="button" icon="pi pi-search"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="View detail"></button>
                <button *ngIf="actionbtn[2] == 1 &&  [3,5,7,9].indexOf(record['active']) == -1" pButton pRipple
                    type="button" icon="pi pi-pencil" [routerLink]="[addbtnlink.route+'#/'+record.id]"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="Edit record"></button>
                <button *ngIf="actionbtn[3] == 1 &&  [3,5,7,9].indexOf(record['active']) == -1" pButton pRipple
                    type="button" icon="pi pi-times" (click)="deleteConfirmation(record)" style="color: red;"
                    class="p-button-rounded p-button-secondary p-button-text cstnoheader"
                    pTooltip="Delete record"></button>






                <button *ngIf="actionbtn[5] == 1 && record['active'] === 3" (click)="approveConfirmation(record)"
                    pButton pRipple type="button" icon="pi pi-check-circle"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="Add data Approval"
                    tooltipPosition="left"></button>
                <button *ngIf="actionbtn[5] == 1 && record['active'] === 5" (click)="approveConfirmation(record)"
                    pButton pRipple type="button" icon="pi pi-check-circle"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="Edit data Approval"
                    tooltipPosition="left"></button>
                <button *ngIf="actionbtn[5] == 1 && record['active'] === 7" (click)="approveConfirmation(record)"
                    pButton pRipple type="button" icon="pi pi-check-circle"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="Edit data Approval"
                    tooltipPosition="left"></button>
                <button *ngIf="actionbtn[5] == 1 && record['active'] === 9" (click)="approveConfirmation(record)"
                    pButton pRipple type="button" icon="pi pi-check-circle"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="Delete data Approval"
                    tooltipPosition="left"></button>
            </td>
        </tr>
    </ng-template>

</p-table> -->
